Repository cardano-foundation/cf-identity-wallet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rcmorano, @iFergal, @jimcase, @jorgenavben, @sdisalvo-crd, @obstar

.github/CODEOWNERS:

.github/* @rcmorano
Earthfile @rcmorano
Dockerfile @rcmorano @iFergal
docker* @rcmorano @iFergal

*.ts @jimcase @iFergal
*.js @jimcase @iFergal
*.cjs @jimcase @iFergal
*.json @jimcase @iFergal

.husky/* @jimcase @iFergal @jorgenavben

android/* @jimcase @iFergal

configs/* @iFergal

docs/* @jorgenavben

ios/* @jimcase @iFergal

services/* @jimcase @iFergal @jorgenavben

src/ui/* @jimcase @sdisalvo-crd
src/core/* @jimcase @iFergal @jorgenavben

tests/* @obstar

fix unit test
  src/core/agent/services/connectionService.test.ts
Owners: @jimcase, @iFergal

remove contact().update from resolveOobi()
  src/core/agent/services/connectionService.ts
  src/core/agent/services/keriaNotificationService.ts
Owners: @jimcase, @iFergal

fix unit test
  src/core/agent/services/connectionService.test.ts
  src/core/agent/services/keriaNotificationService.test.ts
Owners: @jimcase, @iFergal

fix: resolve comment
  src/core/agent/event.types.ts
  src/core/agent/records/connectionRecord.ts
  src/core/agent/services/connectionService.test.ts
  src/core/agent/services/connectionService.ts
  src/ui/App.test.tsx
  src/ui/components/AppWrapper/AppWrapper.test.tsx
  src/ui/components/AppWrapper/AppWrapper.tsx
Owners: @jimcase, @iFergal, @sdisalvo-crd

remove type any
  src/core/agent/services/keriaNotificationService.ts
Owners: @jimcase, @iFergal

feat(core): replace UUID usage with signify salter (#815)
  src/core/agent/records/basicRecord.ts
  src/core/agent/records/connectionRecord.ts
  src/core/agent/records/notificationRecord.ts
  src/core/agent/records/operationPendingRecord.ts
  src/core/agent/services/connectionService.test.ts
  src/core/agent/services/connectionService.ts
  src/core/agent/services/identifierService.test.ts
  src/core/agent/services/identifierService.ts
  src/core/agent/services/keriaNotificationService.test.ts
  src/core/agent/services/keriaNotificationService.ts
  src/core/agent/services/utils.ts
  src/store/reducers/stateCache/stateCache.ts
  src/ui/components/CreateIdentifier/components/IdentifierStage0.tsx
  src/ui/components/InputRequest/InputRequest.test.tsx
  src/ui/components/InputRequest/InputRequest.tsx
  src/ui/components/Scanner/Scanner.tsx
Owners: @jimcase, @iFergal

update resolveOobi
  src/core/agent/services/connectionService.ts
  src/core/agent/services/keriaNotificationService.ts
Owners: @jimcase, @iFergal

wip: add filters to ui
  src/locales/en/en.json
  src/ui/components/FilterChip/FilterChip.scss
  src/ui/components/FilterChip/FilterChip.types.ts
  src/ui/pages/Credentials/Credentials.scss
  src/ui/pages/Credentials/Credentials.tsx
  src/ui/pages/Credentials/Credentials.types.ts
  src/ui/pages/Identifiers/Identifiers.tsx
  src/ui/pages/Notifications/Notifications.tsx
Owners: @jimcase, @iFergal

check connectionId
  src/core/agent/services/connectionService.test.ts
  src/core/agent/services/connectionService.ts
Owners: @jimcase, @iFergal

check reponse of operation
  src/core/agent/services/connectionService.ts
Owners: @jimcase, @iFergal

fix: resolve comment
  src/core/agent/event.types.ts
  src/core/agent/records/connectionRecord.ts
  src/core/agent/services/connectionService.test.ts
  src/core/agent/services/connectionService.ts
  src/core/agent/services/keriaNotificationService.ts
  src/ui/components/AppWrapper/AppWrapper.tsx
Owners: @jimcase, @iFergal

fix: rename parameters connectionDate in unittest
  src/core/agent/services/connectionService.test.ts
Owners: @jimcase, @iFergal

update resolveOobi in credential server
  services/credential-server/src/modules/signify/signifyApi.ts
Owners: @jimcase, @iFergal

fix: fixed time for expect strictEqual with unittest for function using realtime inside
  src/core/agent/services/connectionService.test.ts
Owners: @jimcase, @iFergal

wip: add storage to identifiers
  src/core/agent/agent.types.ts
  src/routes/backRoute/backRoute.test.ts
  src/routes/nextRoute/nextRoute.test.ts
  src/store/reducers/identifiersCache/identifiersCache.test.ts
  src/store/reducers/identifiersCache/identifiersCache.ts
  src/store/reducers/notificationsCache/notificationsCache.test.ts
  src/ui/components/AppWrapper/AppWrapper.tsx
  src/ui/pages/Identifiers/Identifiers.tsx
Owners: @jimcase, @iFergal

wip: add storage to credentials
  src/routes/backRoute/backRoute.test.ts
  src/routes/nextRoute/nextRoute.test.ts
  src/store/reducers/credsCache/credsCache.test.ts
  src/store/reducers/credsCache/credsCache.ts
  src/store/reducers/notificationsCache/notificationsCache.test.ts
  src/ui/components/AppWrapper/AppWrapper.tsx
  src/ui/pages/Credentials/Credentials.tsx
  src/ui/pages/Identifiers/Identifiers.tsx
Owners: @jimcase, @iFergal

fix: responsiveness issues
  src/ui/components/CardDetails/CardDetails.scss
  src/ui/components/ConnectionOptions/ConnectionOptions.scss
  src/ui/components/ConnectionOptions/ConnectionOptions.tsx
  src/ui/components/FilterChip/FilterChip.scss
  src/ui/components/ListHeader/ListHeader.scss
  src/ui/components/PageHeader/PageHeader.scss
  src/ui/components/ShareConnection/ShareConnection.scss
  src/ui/components/ShareQR/ShareQR.scss
  src/ui/components/layout/TabLayout/TabLayout.scss
  src/ui/pages/ConnectionDetails/ConnectionDetails.scss
  src/ui/pages/Connections/Connections.scss
  src/ui/pages/Connections/components/ConnectionsOptionModal/ConnectionsOptionModal.scss
  src/ui/pages/Credentials/Credentials.scss
  src/ui/pages/Identifiers/Identifiers.scss
  src/ui/pages/Identifiers/Identifiers.tsx
  src/ui/pages/Menu/components/SubMenu/SubMenu.scss
  src/ui/pages/Notifications/Notifications.scss
Owners: none

wip: placeholder
  src/locales/en/en.json
  src/ui/components/FilterChip/FilterChip.scss
  src/ui/components/FilteredItemsPlaceholder/FilteredItemsPlaceholder.tsx
  src/ui/components/FilteredItemsPlaceholder/FilteredItemsPlaceholder.types.ts
  src/ui/components/FilteredItemsPlaceholder/index.ts
  src/ui/components/SwitchCardView/SwitchCardView.tsx
  src/ui/components/SwitchCardView/SwitchCardView.types.ts
  src/ui/pages/Credentials/Credentials.scss
  src/ui/pages/Identifiers/Identifiers.scss
  src/ui/pages/Identifiers/Identifiers.tsx
Owners: @jimcase, @iFergal

build: latest version of signify
  package-lock.json
  package.json
  services/credential-server/package-lock.json
  services/credential-server/package.json
Owners: @jimcase, @iFergal

build: latest version of signify (#817)
  package-lock.json
  package.json
  services/credential-server/package-lock.json
  services/credential-server/package.json
Owners: @jimcase, @iFergal

update unit test createConnectionNote
  src/core/agent/services/connectionService.test.ts
  src/core/agent/services/keriaNotificationService.test.ts
  src/core/agent/services/keriaNotificationService.ts
Owners: @jimcase, @iFergal

feat: resolve comment
  src/core/__fixtures__/agent/multSigFixtures.ts
  src/core/agent/services/connectionService.ts
  src/core/agent/services/multiSigService.ts
Owners: @jimcase, @iFergal

fix: resolve comment without emit event confirmed
  src/core/agent/agent.ts
  src/core/agent/records/connectionRecord.ts
  src/core/agent/services/connectionService.test.ts
  src/core/agent/services/connectionService.ts
  src/ui/App.test.tsx
  src/ui/components/AppWrapper/AppWrapper.test.tsx
  src/ui/components/AppWrapper/AppWrapper.tsx
Owners: @jimcase, @iFergal, @sdisalvo-crd

fix: create new contact when resolveOobi
  src/core/agent/services/connectionService.ts
Owners: @jimcase, @iFergal

feat(ui): add event for unhandled error
  src/ui/App.tsx
Owners: @jimcase, @sdisalvo-crd

fix: missing createdAt when creating connection
  src/core/agent/services/connectionService.ts
Owners: @jimcase, @iFergal

feat(ui): update identifier UI
  src/core/agent/agent.types.ts
  src/locales/en/en.json
  src/store/reducers/identifiersCache/identifiersCache.ts
  src/store/reducers/identifiersCache/identifiersCache.types.ts
  src/ui/components/AppWrapper/AppWrapper.tsx
  src/ui/components/CardDetails/CardDetailsBlock/CardBlock.tsx
  src/ui/components/CardDetails/CardDetailsBlock/CardDetailsBlock.scss
  src/ui/components/CardDetails/CardDetailsBlock/CardDetailsBlock.types.ts
  src/ui/components/CardDetails/CardDetailsItem/CardDetailsItem.tsx
  src/ui/components/CardDetails/CardDetailsItem/CardDetailsItem.types.ts
  src/ui/pages/IdentifierDetails/IdentifierDetails.scss
  src/ui/pages/IdentifierDetails/IdentifierDetails.test.tsx
  src/ui/pages/IdentifierDetails/IdentifierDetails.tsx
  src/ui/pages/IdentifierDetails/components/IdentifierContent.tsx
  src/ui/pages/IdentifierDetails/components/IdentifierContent.types.ts
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/Advanced.tsx
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/CreatedTimestamp.tsx
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/IdentifierDetailModal.scss
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/IdentifierDetailModal.tsx
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/IdentifierDetailModal.types.ts
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/IndetifierIDDetail.tsx
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/List.tsx
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/RotationThreshold.tsx
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/SenquenceNumber.tsx
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/SigningThreshold.tsx
  src/ui/pages/IdentifierDetails/components/RotateKeyModal/RotateKeyModal.scss
  src/ui/pages/IdentifierDetails/components/RotateKeyModal/RotateKeyModal.tsx
  src/ui/pages/IdentifierDetails/components/RotateKeyModal/RotateKeyModal.types.ts
  src/ui/pages/IdentifierDetails/components/RotateKeyModal/index.ts
  src/ui/pages/NotificationDetails/components/MultiSigRequest/MultiSigRequest.scss
Owners: @jimcase, @iFergal

fix(ui): fix space between signing key and rotate button
  src/ui/pages/IdentifierDetails/IdentifierDetails.scss
  src/ui/pages/IdentifierDetails/components/IdentifierContent.tsx
Owners: none

feat(ui): update UI for identifier detail
  src/core/agent/agent.types.ts
  src/locales/en/en.json
  src/store/reducers/identifiersCache/identifiersCache.ts
  src/store/reducers/identifiersCache/identifiersCache.types.ts
  src/ui/components/AppWrapper/AppWrapper.tsx
  src/ui/components/CardDetails/CardDetailsBlock/CardBlock.tsx
  src/ui/components/CardDetails/CardDetailsBlock/CardDetailsBlock.scss
  src/ui/components/CardDetails/CardDetailsBlock/CardDetailsBlock.tsx
  src/ui/components/CardDetails/CardDetailsBlock/CardDetailsBlock.types.ts
  src/ui/components/CardDetails/CardDetailsBlock/index.ts
  src/ui/components/CardDetails/CardDetailsContent/CardDetailsContent.scss
  src/ui/components/CardDetails/CardDetailsContent/CardDetailsContent.tsx
  src/ui/components/CardDetails/CardDetailsContent/CardDetailsContent.types.ts
  src/ui/components/CardDetails/CardDetailsContent/index.ts
  src/ui/components/CardDetails/CardDetailsItem/CardDetailsItem.tsx
  src/ui/components/CardDetails/CardDetailsItem/CardDetailsItem.types.ts
  src/ui/components/CardDetails/index.ts
  src/ui/components/CredentialDetailModule/components/MultisigMember.scss
  src/ui/components/CredentialDetailModule/components/MultisigMember.tsx
  src/ui/components/IdentifierOptions/IdentifierOptions.tsx
  src/ui/pages/IdentifierDetails/IdentifierDetails.scss
  src/ui/pages/IdentifierDetails/IdentifierDetails.test.tsx
  src/ui/pages/IdentifierDetails/IdentifierDetails.tsx
  src/ui/pages/IdentifierDetails/components/IdentifierContent.tsx
  src/ui/pages/IdentifierDetails/components/IdentifierContent.types.ts
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/CreatedTimestamp.tsx
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/IdentifierDetailModal.scss
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/IdentifierDetailModal.tsx
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/IdentifierDetailModal.types.ts
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/IndetifierIDDetail.tsx
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/List.tsx
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/RotationThreshold.tsx
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/SenquenceNumber.tsx
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/SigningThreshold.tsx
  src/ui/pages/IdentifierDetails/components/RotateKeyModal/RotateKeyModal.scss
  src/ui/pages/IdentifierDetails/components/RotateKeyModal/RotateKeyModal.tsx
  src/ui/pages/IdentifierDetails/components/RotateKeyModal/RotateKeyModal.types.ts
  src/ui/pages/IdentifierDetails/components/RotateKeyModal/index.ts
Owners: @jimcase, @iFergal

fix(ui): fix missing key on rotate modal
  src/ui/pages/IdentifierDetails/components/RotateKeyModal/RotateKeyModal.tsx
Owners: none

feat((ui): remove ripple effect
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/IdentifierDetailModal.scss
Owners: none

fix(ui): update label
  src/locales/en/en.json
Owners: @jimcase, @iFergal

fix(ui): change label of rotate key button
  src/locales/en/en.json
Owners: @jimcase, @iFergal

fix(ui): update UT
  src/ui/pages/IdentifierDetails/IdentifierDetails.test.tsx
Owners: none

feat(ui): Update Details page for Individual and Group Identifiers (#816)
  src/locales/en/en.json
  src/store/reducers/identifiersCache/identifiersCache.ts
  src/store/reducers/identifiersCache/identifiersCache.types.ts
  src/ui/components/CardDetails/CardDetailsBlock/CardBlock.tsx
  src/ui/components/CardDetails/CardDetailsBlock/CardDetailsBlock.scss
  src/ui/components/CardDetails/CardDetailsBlock/CardDetailsBlock.tsx
  src/ui/components/CardDetails/CardDetailsBlock/CardDetailsBlock.types.ts
  src/ui/components/CardDetails/CardDetailsBlock/index.ts
  src/ui/components/CardDetails/CardDetailsContent/CardDetailsContent.scss
  src/ui/components/CardDetails/CardDetailsContent/CardDetailsContent.tsx
  src/ui/components/CardDetails/CardDetailsContent/CardDetailsContent.types.ts
  src/ui/components/CardDetails/CardDetailsContent/index.ts
  src/ui/components/CardDetails/CardDetailsItem/CardDetailsItem.tsx
  src/ui/components/CardDetails/CardDetailsItem/CardDetailsItem.types.ts
  src/ui/components/CardDetails/index.ts
  src/ui/components/CredentialDetailModule/components/MultisigMember.scss
  src/ui/components/CredentialDetailModule/components/MultisigMember.tsx
  src/ui/components/IdentifierOptions/IdentifierOptions.tsx
  src/ui/pages/IdentifierDetails/IdentifierDetails.scss
  src/ui/pages/IdentifierDetails/IdentifierDetails.test.tsx
  src/ui/pages/IdentifierDetails/IdentifierDetails.tsx
  src/ui/pages/IdentifierDetails/components/IdentifierContent.tsx
  src/ui/pages/IdentifierDetails/components/IdentifierContent.types.ts
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/Advanced.tsx
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/IdentifierDetailModal.scss
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/IdentifierDetailModal.tsx
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/IdentifierDetailModal.types.ts
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/List.tsx
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/RotationThreshold.tsx
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/SigningThreshold.tsx
  src/ui/pages/IdentifierDetails/components/RotateKeyModal/RotateKeyModal.scss
  src/ui/pages/IdentifierDetails/components/RotateKeyModal/RotateKeyModal.tsx
  src/ui/pages/IdentifierDetails/components/RotateKeyModal/RotateKeyModal.types.ts
  src/ui/pages/IdentifierDetails/components/RotateKeyModal/index.ts
  src/ui/pages/NotificationDetails/components/MultiSigRequest/MultiSigRequest.scss
Owners: @jimcase, @iFergal

fix: complete adding feature to ids and creds
  src/locales/en/en.json
  src/ui/components/CardsPlaceholder/CardsPlaceholder.scss
  src/ui/components/FilteredItemsPlaceholder/FilteredItemsPlaceholder.scss
  src/ui/components/FilteredItemsPlaceholder/FilteredItemsPlaceholder.tsx
  src/ui/pages/Credentials/Credentials.tsx
  src/ui/pages/IdentifierDetails/IdentifierDetails.tsx
  src/ui/pages/Identifiers/Identifiers.tsx
Owners: @jimcase, @iFergal

fix: favourites bug
  src/ui/pages/Identifiers/Identifiers.tsx
Owners: none

update alias in processOperation
  src/core/agent/services/keriaNotificationService.ts
Owners: @jimcase, @iFergal

fix unit test handle long operations with type oobi
  src/core/agent/services/keriaNotificationService.test.ts
Owners: @jimcase, @iFergal

feat: resolve comment
  src/core/agent/services/connectionService.test.ts
  src/core/agent/services/connectionService.ts
  src/core/agent/services/keriaNotificationService.test.ts
  src/core/agent/services/keriaNotificationService.ts
Owners: @jimcase, @iFergal
