Repository cardano-foundation/cf-identity-wallet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rcmorano, @iFergal, @jimcase, @jorgenavben, @sdisalvo-crd, @obstar

feat(cred-server): implement database initialization and remove default schema saving logic
  services/credential-server-ui/src/App.tsx
  services/credential-server/src/server.ts
  services/credential-server/src/utils/initializeDB.ts
  services/credential-server/src/utils/schemas.ts
Owners: @jimcase, @iFergal

refactor(cred-server): remove unused RARE_EVO_DEMO_SCHEMA_SAID constant from agent
  services/credential-server/src/agent.ts
Owners: @jimcase, @iFergal

feat(cred-server-ui): add Toast component for user notifications and integrate it into multiple pages
  services/credential-server-ui/src/components/Toast.tsx
  services/credential-server-ui/src/pages/ConnectionPage.tsx
  services/credential-server-ui/src/pages/CreateSchemaPage.tsx
  services/credential-server-ui/src/pages/RevocationPage.tsx
Owners: none

feat(ui): update edit identifier
  src/locales/en/en.json
  src/ui/components/CreateIdentifier/components/IdentifierStage0.test.tsx
  src/ui/components/EditIdentifier/EditIdentifier.scss
  src/ui/components/EditIdentifier/EditIdentifier.test.tsx
  src/ui/components/EditIdentifier/EditIdentifier.tsx
  src/ui/components/InputRequest/InputRequest.test.tsx
  src/ui/pages/Menu/components/Profile/Profile.test.tsx
  src/ui/utils/nameChecker.ts
Owners: @jimcase, @iFergal

fix: resolve comment
  src/core/__fixtures__/agent/ipexCommunicationFixture.ts
  src/core/__fixtures__/agent/keriaNotificationFixture.ts
  src/core/agent/event.types.ts
  src/core/agent/records/operationPendingRecord.type.ts
  src/core/agent/services/ipexCommunicationService.test.ts
  src/core/agent/services/ipexCommunicationService.ts
  src/core/agent/services/keriaNotificationService.test.ts
  src/core/agent/services/keriaNotificationService.ts
  src/ui/App.test.tsx
  src/ui/components/AppWrapper/AppWrapper.test.tsx
  src/ui/components/AppWrapper/AppWrapper.tsx
  src/ui/components/AppWrapper/coreEventListeners.ts
Owners: @jimcase, @iFergal, @sdisalvo-crd

feat(ui): Validation: Connections - Identifier - User Name (#824)
  src/locales/en/en.json
  src/ui/components/CreateIdentifier/CreateIdentifier.scss
  src/ui/components/CreateIdentifier/CreateIdentifier.test.tsx
  src/ui/components/CreateIdentifier/components/IdentifierStage0.test.tsx
  src/ui/components/CreateIdentifier/components/IdentifierStage0.tsx
  src/ui/components/EditIdentifier/EditIdentifier.scss
  src/ui/components/EditIdentifier/EditIdentifier.test.tsx
  src/ui/components/EditIdentifier/EditIdentifier.tsx
  src/ui/components/InputRequest/InputRequest.scss
  src/ui/components/InputRequest/InputRequest.test.tsx
  src/ui/components/InputRequest/InputRequest.tsx
  src/ui/components/Scanner/Scanner.tsx
  src/ui/pages/IdentifierDetails/components/RotateKeyModal/RotateKeyModal.scss
  src/ui/pages/Menu/Menu.tsx
  src/ui/pages/Menu/components/Profile/Profile.scss
  src/ui/pages/Menu/components/Profile/Profile.test.tsx
  src/ui/pages/Menu/components/Profile/Profile.tsx
  src/ui/pages/Menu/components/SubMenu/SubMenu.scss
  src/ui/utils/nameChecker.test.ts
  src/ui/utils/nameChecker.ts
Owners: @jimcase, @iFergal

feat: Remove all code related to group rotation (cleanup for v1)
  src/core/agent/services/multiSigService.test.ts
  src/core/agent/services/multiSigService.ts
Owners: @jimcase, @iFergal

feat: Remove all code related to group rotation (cleanup for v1) (#826)
  src/core/agent/services/multiSigService.test.ts
  src/core/agent/services/multiSigService.ts
Owners: @jimcase, @iFergal

feat: credential.get 404 checks
  src/core/agent/services/credentialService.test.ts
  src/core/agent/services/credentialService.ts
  src/core/agent/services/ipexCommunicationService.test.ts
  src/core/agent/services/ipexCommunicationService.ts
  src/core/agent/services/keriaNotificationService.test.ts
  src/core/agent/services/keriaNotificationService.ts
Owners: @jimcase, @iFergal

fix: resolve comment
  src/core/agent/services/keriaNotificationService.ts
Owners: @jimcase, @iFergal

feat(ui): implement create identifier
  src/ui/components/CreateIdentifier/CreateIdentifier.scss
  src/ui/components/CreateIdentifier/CreateIdentifier.test.tsx
  src/ui/components/CreateIdentifier/CreateIdentifier.tsx
  src/ui/components/CreateIdentifier/CreateIdentifier.types.ts
  src/ui/components/CreateIdentifier/components/IdentifierStage0.test.tsx
  src/ui/components/CreateIdentifier/components/IdentifierStage0.tsx
  src/ui/components/CreateIdentifier/components/IdentifierStage1.test.tsx
  src/ui/components/CreateIdentifier/components/IdentifierStage1.tsx
  src/ui/components/CreateIdentifier/components/IdentifierStage1BodyInit.tsx
  src/ui/components/CreateIdentifier/components/IdentifierStage1BodyResume.tsx
  src/ui/components/CreateIdentifier/components/IdentifierStage2.test.tsx
  src/ui/components/CreateIdentifier/components/IdentifierStage2.tsx
  src/ui/components/CreateIdentifier/components/IdentifierStage3.test.tsx
  src/ui/components/CreateIdentifier/components/IdentifierStage3.tsx
  src/ui/components/CreateIdentifier/components/IdentifierStage4.test.tsx
  src/ui/components/CreateIdentifier/components/IdentifierStage4.tsx
  src/ui/components/CreateIdentifier/components/IdentifierThemeSelector.test.tsx
  src/ui/components/CreateIdentifier/components/IdentifierThemeSelector/IdentifierThemeSelector.scss
  src/ui/components/CreateIdentifier/components/IdentifierThemeSelector/IdentifierThemeSelector.test.tsx
  src/ui/components/CreateIdentifier/components/IdentifierThemeSelector/IdentifierThemeSelector.tsx
  src/ui/components/CreateIdentifier/components/IdentifierThemeSelector/IdentifierThemeSelector.types.ts
  src/ui/components/CreateIdentifier/components/IdentifierThemeSelector/index.ts
  src/ui/components/CreateIdentifier/components/TypeItem/TypeItem.scss
  src/ui/components/CreateIdentifier/components/TypeItem/TypeItem.tsx
  src/ui/components/CreateIdentifier/components/TypeItem/TypeItem.types.ts
  src/ui/components/CreateIdentifier/components/TypeItem/index.ts
Owners: @jimcase, @iFergal

feat(ui): implement group identifier
  src/ui/components/CreateGroupIdentifier/CreateGroupIdentifier.scss
  src/ui/components/CreateGroupIdentifier/CreateGroupIdentifier.test.tsx
  src/ui/components/CreateGroupIdentifier/CreateGroupIdentifier.tsx
  src/ui/components/CreateGroupIdentifier/CreateGroupIdentifier.types.ts
  src/ui/components/CreateGroupIdentifier/components/GroupMembers.test.tsx
  src/ui/components/CreateGroupIdentifier/components/GroupMembers.tsx
  src/ui/components/CreateGroupIdentifier/components/SetupConnectionBodyInit.tsx
  src/ui/components/CreateGroupIdentifier/components/SetupConnectionBodyResume.tsx
  src/ui/components/CreateGroupIdentifier/components/SetupConnections.test.tsx
  src/ui/components/CreateGroupIdentifier/components/SetupConnections.tsx
  src/ui/components/CreateGroupIdentifier/components/SetupThreshold.test.tsx
  src/ui/components/CreateGroupIdentifier/components/SetupThreshold.tsx
  src/ui/components/CreateGroupIdentifier/components/Summary.test.tsx
  src/ui/components/CreateGroupIdentifier/components/Summary.tsx
  src/ui/components/CreateGroupIdentifier/index.ts
Owners: @jimcase, @iFergal

feat(ui): update all component use create identifier
  src/ui/components/EditIdentifier/EditIdentifier.scss
  src/ui/components/Scanner/Scanner.test.tsx
  src/ui/components/Scanner/Scanner.tsx
  src/ui/pages/Connections/Connections.tsx
  src/ui/pages/FullPageScanner/FullPageScanner.test.tsx
  src/ui/pages/Identifiers/Identifiers.test.tsx
  src/ui/pages/Identifiers/Identifiers.tsx
  src/ui/pages/Menu/components/ConnectWallet/ConnectWallet.test.tsx
  src/ui/pages/NotificationDetails/components/MultiSigRequest/ErrorPage.tsx
  src/ui/pages/Scan/Scan.test.tsx
  src/ui/pages/WalletConnect/WalletConnect.test.tsx
Owners: none

fix(ui): fix error when loading app
  src/ui/App.tsx
Owners: @jimcase, @sdisalvo-crd

feat(ui): fix background blur
  src/ui/pages/CreateSSIAgent/CreateSSIAgent.scss
  src/ui/styles/colors.scss
Owners: none

fix(ui): fix swap icon too big
  src/ui/pages/NotificationDetails/components/ReceiveCredential/ReceiveCredential.scss
Owners: none

fix(ui): Fix animation jump on ios
  src/ui/pages/NotificationDetails/components/ReceiveCredential/ReceiveCredential.scss
Owners: none

fix(ui): fix full page scanner error
  src/ui/components/Scanner/Scanner.tsx
Owners: none

feat(ui): throw error when scan failed
  src/ui/components/Scanner/Scanner.tsx
Owners: none

fix(ui): Fix cred accept animation
  src/ui/pages/NotificationDetails/components/ReceiveCredential/ReceiveCredential.scss
  src/ui/utils/nameChecker.ts
Owners: @jimcase, @iFergal

fix(ui): fix UT
  src/ui/App.test.tsx
  src/ui/App.tsx
Owners: @jimcase, @sdisalvo-crd

fix(ui): fix UT
  src/ui/App.test.tsx
Owners: @jimcase, @sdisalvo-crd

feat(ui): fix animation for accept cred
  src/ui/pages/NotificationDetails/components/ReceiveCredential/ReceiveCredential.scss
  src/ui/pages/NotificationDetails/components/ReceiveCredential/ReceiveCredential.tsx
Owners: none

fix(cred-server): correct variable reference from 'test' to 'credentialData' for proper data handling
  services/credential-server/src/modules/signify/signifyApi.ts
Owners: @jimcase, @iFergal

fix(ui): Fix review comment
  src/ui/pages/CreateSSIAgent/CreateSSIAgent.scss
  src/ui/styles/colors.scss
Owners: none

feat: AC 3-5-6
  src/core/agent/event.types.ts
  src/core/agent/records/identifierStorage.ts
  src/core/agent/records/operationPendingRecord.type.ts
  src/core/agent/services/identifierService.test.ts
  src/core/agent/services/identifierService.ts
  src/core/agent/services/keriaNotificationService.test.ts
  src/core/agent/services/keriaNotificationService.ts
  src/ui/components/AppWrapper/AppWrapper.tsx
  src/ui/components/AppWrapper/coreEventListeners.ts
Owners: @jimcase, @iFergal

fix(ui): Bug fixes 13 Nov 2024 (#829)
  src/ui/App.test.tsx
  src/ui/App.tsx
  src/ui/components/Scanner/Scanner.tsx
  src/ui/pages/CreateSSIAgent/CreateSSIAgent.scss
  src/ui/pages/NotificationDetails/components/ReceiveCredential/ReceiveCredential.scss
  src/ui/pages/NotificationDetails/components/ReceiveCredential/ReceiveCredential.tsx
  src/ui/styles/colors.scss
  src/ui/utils/nameChecker.ts
Owners: @jimcase, @sdisalvo-crd, @iFergal

fix: resolve comment
  src/core/agent/agent.test.ts
  src/core/agent/agent.ts
  src/core/agent/services/connectionService.test.ts
  src/core/agent/services/connectionService.ts
  src/ui/components/AppWrapper/AppWrapper.tsx
Owners: @jimcase, @iFergal

fix: resolve comment
  src/core/agent/services/keriaNotificationService.test.ts
  src/core/agent/services/keriaNotificationService.ts
Owners: @jimcase, @iFergal

fix: move resolvePendingConnections into core
  src/core/agent/agent.test.ts
  src/core/agent/agent.ts
  src/ui/components/AppWrapper/AppWrapper.tsx
Owners: @jimcase, @iFergal

refactor(ui): cleanup unused
  src/ui/App.test.tsx
  src/ui/components/AppWrapper/AppWrapper.test.tsx
  src/ui/components/AppWrapper/AppWrapper.tsx
  src/ui/pages/ConnectionDetails/ConnectionDetails.tsx
Owners: @jimcase, @sdisalvo-crd

fix(core): emit confirmed after updating KERIA
  src/core/agent/services/keriaNotificationService.test.ts
  src/core/agent/services/keriaNotificationService.ts
Owners: @jimcase, @iFergal

refactor(core): remove unnecessary markAgentStatus
  src/core/agent/agent.ts
  src/core/agent/services/connectionService.ts
Owners: @jimcase, @iFergal

feat: credential.get 404 checks (#827)
  src/core/agent/services/credentialService.test.ts
  src/core/agent/services/credentialService.ts
  src/core/agent/services/ipexCommunicationService.test.ts
  src/core/agent/services/ipexCommunicationService.ts
  src/core/agent/services/keriaNotificationService.test.ts
  src/core/agent/services/keriaNotificationService.ts
Owners: @jimcase, @iFergal

test(core): cleanup connectionService
  src/core/agent/services/connectionService.test.ts
Owners: @jimcase, @iFergal

fix: make sure event callbacks are setup after onboarding
  src/core/agent/agent.ts
  src/ui/App.test.tsx
  src/ui/components/AppWrapper/AppWrapper.test.tsx
  src/ui/components/AppWrapper/AppWrapper.tsx
Owners: @jimcase, @iFergal, @sdisalvo-crd

feat: create/delete connection reliability (#806)
  src/core/agent/agent.test.ts
  src/core/agent/agent.ts
  src/core/agent/agent.types.ts
  src/core/agent/event.types.ts
  src/core/agent/records/connectionRecord.ts
  src/core/agent/services/connectionService.test.ts
  src/core/agent/services/connectionService.ts
  src/core/agent/services/keriaNotificationService.test.ts
  src/core/agent/services/keriaNotificationService.ts
  src/ui/App.test.tsx
  src/ui/components/AppWrapper/AppWrapper.test.tsx
  src/ui/components/AppWrapper/AppWrapper.tsx
  src/ui/pages/ConnectionDetails/ConnectionDetails.test.tsx
  src/ui/pages/ConnectionDetails/ConnectionDetails.tsx
Owners: @jimcase, @iFergal, @sdisalvo-crd

fix(core): only process pending connection ops when online
  src/core/agent/agent.ts
Owners: @jimcase, @iFergal

fix: groupId should be undefined for normal connections not ""
  src/core/agent/services/connectionService.ts
Owners: @jimcase, @iFergal

fix(core): only process pending connection ops when online (#830)
  src/core/agent/agent.ts
  src/core/agent/services/connectionService.ts
Owners: @jimcase, @iFergal

.github/CODEOWNERS:

.github/* @rcmorano
Earthfile @rcmorano
Dockerfile @rcmorano @iFergal
docker* @rcmorano @iFergal

*.ts @jimcase @iFergal
*.js @jimcase @iFergal
*.cjs @jimcase @iFergal
*.json @jimcase @iFergal

.husky/* @jimcase @iFergal @jorgenavben

android/* @jimcase @iFergal

configs/* @iFergal

docs/* @jorgenavben

ios/* @jimcase @iFergal

services/* @jimcase @iFergal @jorgenavben

src/ui/* @jimcase @sdisalvo-crd
src/core/* @jimcase @iFergal @jorgenavben

tests/* @obstar
