Repository cardano-foundation/cf-identity-wallet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rcmorano, @iFergal, @jimcase, @jorgenavben, @sdisalvo-crd, @obstar

.github/CODEOWNERS:

.github/* @rcmorano
Earthfile @rcmorano
Dockerfile @rcmorano @iFergal
docker* @rcmorano @iFergal

*.ts @jimcase @iFergal
*.js @jimcase @iFergal
*.cjs @jimcase @iFergal
*.json @jimcase @iFergal

.husky/* @jimcase @iFergal @jorgenavben

android/* @jimcase @iFergal

configs/* @iFergal

docs/* @jorgenavben

ios/* @jimcase @iFergal

services/* @jimcase @iFergal @jorgenavben

src/ui/* @jimcase @sdisalvo-crd
src/core/* @jimcase @iFergal @jorgenavben

tests/* @obstar

fix: resolve comment
  src/core/__fixtures__/agent/ipexCommunicationFixture.ts
  src/core/agent/services/ipexCommunicationService.test.ts
  src/core/agent/services/ipexCommunicationService.ts
  src/core/agent/services/keriaNotificationService.test.ts
  src/core/agent/services/keriaNotificationService.ts
  src/ui/components/AppWrapper/AppWrapper.tsx
Owners: @jimcase, @iFergal

refactor: cleanup
  src/core/agent/event.types.ts
  src/ui/App.test.tsx
  src/ui/components/AppWrapper/AppWrapper.test.tsx
  src/ui/components/AppWrapper/AppWrapper.tsx
Owners: @jimcase, @iFergal, @sdisalvo-crd

feat: handle credential revocations of credentials that aren't accepted yet in IPEX (#823)
  src/core/__fixtures__/agent/ipexCommunicationFixture.ts
  src/core/__fixtures__/agent/keriaNotificationFixture.ts
  src/core/agent/records/operationPendingRecord.type.ts
  src/core/agent/services/ipexCommunicationService.test.ts
  src/core/agent/services/ipexCommunicationService.ts
  src/core/agent/services/keriaNotificationService.test.ts
  src/core/agent/services/keriaNotificationService.ts
  src/ui/App.test.tsx
  src/ui/components/AppWrapper/AppWrapper.test.tsx
  src/ui/components/AppWrapper/coreEventListeners.ts
Owners: @jimcase, @iFergal, @sdisalvo-crd

feat: removed iPad, Mac and AppleVision support on XCode settings
  ios/App/App.xcodeproj/project.pbxproj
Owners: none

wip: about
  src/locales/en/en.json
  src/ui/components/CardDetails/CardDetails.scss
  src/ui/components/CardDetails/CardDetailsBlock/CardDetailsBlock.scss
  src/ui/components/CredentialDetailModule/CredentialDetailModule.scss
  src/ui/components/CredentialDetailModule/components/CredentialContent.test.tsx
  src/ui/components/CredentialDetailModule/components/CredentialContent.tsx
  src/ui/components/CredentialDetailModule/components/CredentialContent.types.ts
  src/ui/components/ReadMore/ReadMore.scss
  src/ui/components/ReadMore/ReadMore.tsx
  src/ui/pages/IdentifierDetails/IdentifierDetails.scss
  src/ui/pages/IdentifierDetails/components/IdentifierContent.tsx
Owners: @jimcase, @iFergal

feat: removed iPad, Mac and AppleVision support on XCode settings (#832)
  ios/App/App.xcodeproj/project.pbxproj
Owners: none

fix: read more
  src/locales/en/en.json
  src/ui/components/CredentialDetailModule/components/CredentialContent.tsx
  src/ui/components/ReadMore/ReadMore.scss
  src/ui/components/ReadMore/ReadMore.tsx
  src/ui/components/ReadMore/index.ts
Owners: @jimcase, @iFergal

feat: deleting a keria connection when the record pendingDeletion is true
  src/core/agent/services/keriaNotificationService.test.ts
  src/core/agent/services/keriaNotificationService.ts
Owners: @jimcase, @iFergal

fix(cred-server): correct import path for initializeDB utility function
  services/credential-server/src/server.ts
Owners: @jimcase, @iFergal

feat: remove await getConnectionShortDetails
  src/core/agent/services/connectionService.ts
Owners: @jimcase, @iFergal

feat: resolve comment
  src/core/agent/services/keriaNotificationService.ts
Owners: @jimcase, @iFergal

feat(core): Deleting a keria connection when the record pendingDeletion is true (#833)
  src/core/agent/services/connectionService.ts
  src/core/agent/services/keriaNotificationService.test.ts
  src/core/agent/services/keriaNotificationService.ts
Owners: @jimcase, @iFergal

feat(ut): update new version to fix act warning in render method
  package-lock.json
  package.json
  src/ui/components/AppWrapper/AppWrapper.test.tsx
  src/ui/components/ArchivedCredentials/ArchivedCredentials.test.tsx
  src/ui/components/CreateGroupIdentifier/components/SetupConnections.test.tsx
  src/ui/components/CreatePasscodeModule/CreatePasscodeModule.test.tsx
  src/ui/components/CredentialDetailModule/CredentialDetailModule.test.tsx
  src/ui/components/ForgotAuthInfo/ForgotAuthInfo.test.tsx
  src/ui/components/PasswordModule/PasswordModule.test.tsx
  src/ui/components/SwitchOnboardingMode/SwitchOnboardingMode.test.tsx
  src/ui/pages/ConnectionDetails/ConnectionDetails.test.tsx
  src/ui/pages/Connections/Connections.test.tsx
  src/ui/pages/Credentials/Credentials.test.tsx
  src/ui/pages/GenerateSeedPhrase/GenerateSeedPhrase.test.tsx
  src/ui/pages/IdentifierDetails/IdentifierDetails.test.tsx
  src/ui/pages/Identifiers/Identifiers.test.tsx
  src/ui/pages/IncomingRequest/IncomingRequest.test.tsx
  src/ui/pages/LockPage/LockPage.test.tsx
  src/ui/pages/Menu/components/ConnectWallet/ConnectWallet.test.tsx
  src/ui/pages/Menu/components/Settings/Settings.test.tsx
  src/ui/pages/Menu/components/Settings/components/ManagePassword/ManagePassword.test.tsx
  src/ui/pages/Menu/components/Settings/components/RecoverySeedPhrase/RecoverySeedPhrase.test.tsx
  src/ui/pages/NotificationDetails/components/MultiSigRequest/ErrorPage.test.tsx
  src/ui/pages/NotificationDetails/components/ReceiveCredential/ReceiveCredential.test.tsx
  src/ui/pages/Notifications/Notifications.test.tsx
  src/ui/pages/SetPasscode/SetPasscode.test.tsx
  src/ui/pages/WalletConnect/WalletConnect.test.tsx
  src/ui/utils/passcodeFiller.ts
Owners: @jimcase, @iFergal

wip: credential details & attributes
  src/locales/en/en.json
  src/ui/components/CredentialDetailModule/components/CredentialAttributeDetailModal/CredentialAttributeDetailModal.scss
  src/ui/components/CredentialDetailModule/components/CredentialAttributeDetailModal/CredentialAttributeDetailModal.tsx
  src/ui/components/CredentialDetailModule/components/CredentialAttributeDetailModal/CredentialAttributeDetailModal.types.ts
  src/ui/components/CredentialDetailModule/components/CredentialAttributeDetailModal/index.ts
  src/ui/components/CredentialDetailModule/components/CredentialContent.tsx
  src/ui/pages/IdentifierDetails/IdentifierDetails.test.tsx
  src/ui/pages/IdentifierDetails/components/IdentifierAttributeDetailModal/Advanced.tsx
  src/ui/pages/IdentifierDetails/components/IdentifierAttributeDetailModal/IdentifierAttributeDetailModal.scss
  src/ui/pages/IdentifierDetails/components/IdentifierAttributeDetailModal/IdentifierAttributeDetailModal.tsx
  src/ui/pages/IdentifierDetails/components/IdentifierAttributeDetailModal/IdentifierAttributeDetailModal.types.ts
  src/ui/pages/IdentifierDetails/components/IdentifierAttributeDetailModal/List.tsx
  src/ui/pages/IdentifierDetails/components/IdentifierAttributeDetailModal/RotationThreshold.tsx
  src/ui/pages/IdentifierDetails/components/IdentifierAttributeDetailModal/SigningThreshold.tsx
  src/ui/pages/IdentifierDetails/components/IdentifierContent.tsx
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/Advanced.tsx
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/IdentifierDetailModal.scss
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/IdentifierDetailModal.tsx
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/IdentifierDetailModal.types.ts
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/RotationThreshold.tsx
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/SigningThreshold.tsx
Owners: @jimcase, @iFergal

feat(ut): use act function of react instead testing-library
  src/ui/components/ArchivedCredentials/ArchivedCredentials.test.tsx
  src/ui/components/CardList/CardList.test.tsx
  src/ui/components/CardSlider/CardSlider.test.tsx
  src/ui/components/CardsPlaceholder/CardsPlaceholder.test.tsx
  src/ui/components/CardsStack/CardsStack.test.tsx
  src/ui/components/CreateGroupIdentifier/components/SetupConnections.test.tsx
  src/ui/components/CreateIdentifier/components/IdentifierColorSelector/IdentifierColorSelector.test.tsx
  src/ui/components/CreatePasscodeModule/CreatePasscodeModule.test.tsx
  src/ui/components/CredentialCardTemplate/CredentialCardTemplate.test.tsx
  src/ui/components/CredentialCardTemplate/components/KeriCardTemplate/KeriCardTemplate.test.tsx
  src/ui/components/CredentialCardTemplate/components/RareEvoCardTemplate/RareEvoCardTemplate.test.tsx
  src/ui/components/CredentialDetailModule/CredentialDetailModule.test.tsx
  src/ui/components/EditIdentifier/EditIdentifier.test.tsx
  src/ui/components/ErrorMessage/ErrorMessage.test.tsx
  src/ui/components/ForgotAuthInfo/ForgotAuthInfo.test.tsx
  src/ui/components/SwitchCardView/SwitchCardView.test.tsx
  src/ui/components/SwitchOnboardingMode/SwitchOnboardingMode.test.tsx
  src/ui/components/VerifyPassword/VerifyPassword.test.tsx
  src/ui/pages/Connections/components/ConnectionsOptionModal/ConnectionsOptionModal.test.tsx
  src/ui/pages/CreatePassword/CreatePassword.test.tsx
  src/ui/pages/CredentialDetails/CredentialDetails.test.tsx
  src/ui/pages/IncomingRequest/IncomingRequest.test.tsx
  src/ui/pages/LockPage/LockPage.test.tsx
  src/ui/pages/Menu/components/ConfirmConnectModal/ConfirmConnectModal.test.tsx
  src/ui/pages/Menu/components/Profile/Profile.test.tsx
  src/ui/pages/Menu/components/Settings/Settings.test.tsx
  src/ui/pages/Menu/components/Settings/components/ManagePassword/ManagePassword.test.tsx
Owners: none

feat: notification failure handling
  src/core/agent/agent.types.ts
  src/core/agent/records/notificationRecord.types.ts
  src/core/agent/services/keriaNotificationService.test.ts
  src/core/agent/services/keriaNotificationService.ts
Owners: @jimcase, @iFergal

update: remove mock func
  src/core/agent/services/keriaNotificationService.ts
Owners: @jimcase, @iFergal

feat(ui): nav back when load notification fail
  src/ui/pages/NotificationDetails/components/ReceiveCredential/ReceiveCredential.test.tsx
  src/ui/pages/NotificationDetails/components/ReceiveCredential/ReceiveCredential.tsx
Owners: none

fix(ut): fix ut
  src/ui/pages/NotificationDetails/components/ReceiveCredential/ReceiveCredential.test.tsx
Owners: none

fix(ut): fix switch onboarding UT failed
  src/ui/components/SwitchOnboardingMode/SwitchOnboardingMode.test.tsx
  src/ui/pages/Scan/Scan.test.tsx
Owners: none

feat(ui): fix scanner UT
  src/ui/components/Scanner/Scanner.test.tsx
  src/ui/components/Scanner/Scanner.tsx
Owners: none

fix(ui): Error when opening a Receive credential notification (#836)
  src/ui/components/Scanner/Scanner.test.tsx
  src/ui/components/Scanner/Scanner.tsx
  src/ui/components/SwitchOnboardingMode/SwitchOnboardingMode.test.tsx
  src/ui/pages/NotificationDetails/components/ReceiveCredential/ReceiveCredential.test.tsx
  src/ui/pages/NotificationDetails/components/ReceiveCredential/ReceiveCredential.tsx
  src/ui/pages/Scan/Scan.test.tsx
Owners: none

wip: credential details
  src/locales/en/en.json
  src/ui/App.scss
  src/ui/components/CardDetails/CardDetails.scss
  src/ui/components/CardDetails/CardDetailsAttributes/CardDetailsAttributes.tsx
  src/ui/components/CardDetails/CardDetailsAttributes/CardDetailsAttributes.utils.ts
  src/ui/components/CardDetails/CardDetailsAttributes/CardDetailsNestedAttributes.tsx
  src/ui/components/CardDetails/CardDetailsItem/CardDetailsItem.scss
  src/ui/components/CredentialDetailModule/CredentialDetailModule.scss
  src/ui/components/CredentialDetailModule/CredentialDetailModule.test.tsx
  src/ui/components/CredentialDetailModule/CredentialDetailModule.tsx
  src/ui/components/CredentialDetailModule/components/CredentialContent.tsx
  src/ui/pages/IdentifierDetails/IdentifierDetails.scss
  src/ui/pages/IdentifierDetails/components/IdentifierContent.tsx
Owners: @jimcase, @iFergal, @sdisalvo-crd

fix: colors update
  src/ui/App.scss
  src/ui/components/ArchivedCredentials/ArchivedCredentials.scss
  src/ui/components/CardDetails/CardDetailsBlock/CardDetailsBlock.scss
  src/ui/components/CardDetails/CardDetailsItem/CardDetailsItem.scss
  src/ui/components/CreateGroupIdentifier/CreateGroupIdentifier.scss
  src/ui/components/CreateIdentifier/CreateIdentifier.scss
  src/ui/components/CreateIdentifier/components/TypeItem/TypeItem.scss
  src/ui/components/CredentialCardTemplate/components/KeriCardTemplate/KeriCardTemplate.scss
  src/ui/components/CredentialCardTemplate/components/RareEvoCardTemplate/RareEvoCardTemplate.scss
  src/ui/components/CredentialDetailModule/components/MultisigMember.scss
  src/ui/components/EditIdentifier/EditIdentifier.scss
  src/ui/components/IdentifierCardTemplate/IdentifierCardTemplate.scss
  src/ui/components/InputRequest/InputRequest.scss
  src/ui/components/PasswordModule/PasswordModule.scss
  src/ui/components/PasswordModule/components/PasswordMeter/PasswordMeter.scss
  src/ui/components/Scanner/Scanner.scss
  src/ui/components/ShareConnection/ShareConnection.scss
  src/ui/components/Spinner/Spinner.scss
  src/ui/components/navigation/TabsMenu/TabsMenu.scss
  src/ui/pages/ConnectionDetails/components/EditConnectionsModal.scss
  src/ui/pages/IncomingRequest/components/SignRequest.scss
  src/ui/pages/Menu/Menu.scss
  src/ui/pages/Menu/components/ConfirmConnectModal/ConfirmConnectModal.scss
  src/ui/pages/Menu/components/Profile/Profile.scss
  src/ui/pages/Menu/components/Settings/Settings.scss
  src/ui/pages/Menu/components/Settings/components/RecoverySeedPhrase/RecoverySeedPhrase.scss
  src/ui/pages/NotificationDetails/components/CredentialRequest/CredentialRequestInformation/CredentialRequestInformation.scss
  src/ui/pages/NotificationDetails/components/MultiSigRequest/MultiSigRequest.scss
  src/ui/pages/NotificationDetails/components/ReceiveCredential/ReceiveCredential.scss
  src/ui/pages/Notifications/Notifications.scss
  src/ui/styles/colors.scss
Owners: @jimcase, @sdisalvo-crd

update: return label when the credential is pending
  src/core/agent/event.types.ts
  src/core/agent/services/connectionService.ts
Owners: @jimcase, @iFergal

feat(ui): add pending connection when scan new connection
  src/ui/components/AppWrapper/AppWrapper.tsx
  src/ui/components/InputRequest/InputRequest.tsx
  src/ui/components/Scanner/Scanner.tsx
Owners: none

fix: connection modal bug
  src/ui/components/CredentialCardTemplate/components/KeriCardTemplate/KeriCardTemplate.scss
  src/ui/components/CredentialCardTemplate/components/RareEvoCardTemplate/RareEvoCardTemplate.scss
  src/ui/components/CredentialDetailModule/CredentialDetailModule.tsx
  src/ui/components/CredentialDetailModule/components/CredentialContent.test.tsx
  src/ui/components/CredentialDetailModule/components/CredentialContent.tsx
  src/ui/components/CredentialDetailModule/components/CredentialContent.types.ts
  src/ui/pages/ConnectionDetails/ConnectionDetails.test.tsx
  src/ui/pages/ConnectionDetails/ConnectionDetails.tsx
  src/ui/pages/ConnectionDetails/ConnectionDetails.types.ts
  src/ui/pages/Connections/Connections.tsx
Owners: @jimcase, @iFergal

fix: style issues
  src/ui/components/CardDetails/CardDetailsBlock/CardDetailsBlock.scss
  src/ui/components/CredentialDetailModule/CredentialDetailModule.scss
  src/ui/components/ReadMore/ReadMore.scss
Owners: none

test(jest): new unit tests
  src/ui/components/CardDetails/CardDetailsItem/CardDetailsItem.tsx
  src/ui/components/CredentialDetailModule/components/CredentialContent.test.tsx
  src/ui/components/CredentialDetailModule/components/CredentialContent.tsx
  src/ui/components/ReadMore/ReadMore.test.tsx
  src/ui/components/ReadMore/ReadMore.tsx
Owners: none

test(jest): wip fix old unit tests
  src/ui/components/CredentialDetailModule/CredentialDetailModule.test.tsx
  src/ui/components/CredentialDetailModule/CredentialDetailModule.tsx
  src/ui/components/PageFooter/PageFooter.tsx
  src/ui/components/VerifyPasscode/VerifyPasscode.test.tsx
  src/ui/pages/Connections/Connections.test.tsx
  src/ui/pages/Connections/Connections.tsx
  src/ui/pages/CredentialDetails/CredentialDetails.test.tsx
  src/ui/pages/IdentifierDetails/IdentifierDetails.test.tsx
Owners: none

feat(ui): remove comment
  src/ui/components/InputRequest/InputRequest.tsx
Owners: none

update: resolve comments and add missing case
  src/core/agent/agent.types.ts
  src/core/agent/records/notificationRecord.types.ts
  src/core/agent/services/keriaNotificationService.test.ts
  src/core/agent/services/keriaNotificationService.ts
Owners: @jimcase, @iFergal

test(jest): fix old unit tests
  src/ui/pages/IdentifierDetails/IdentifierDetails.test.tsx
  src/ui/pages/NotificationDetails/components/CredentialRequest/ChooseCredential/ChooseCredential.test.tsx
Owners: none

feat(ui): Missing connection name should not update Redux twice (#837)
  src/core/agent/event.types.ts
  src/core/agent/services/connectionService.ts
  src/ui/components/AppWrapper/AppWrapper.tsx
  src/ui/components/InputRequest/InputRequest.tsx
  src/ui/components/Scanner/Scanner.tsx
Owners: @jimcase, @iFergal

fix: data regex in nested attributes
  src/ui/components/CardDetails/CardDetailsAttributes/CardDetailsNestedAttributes.tsx
Owners: none

fix: use of text with template literal
  src/ui/components/CredentialDetailModule/components/CredentialContent.tsx
  src/ui/pages/IdentifierDetails/components/IdentifierAttributeDetailModal/Advanced.tsx
Owners: none

fix: use of text with template literal
  src/ui/pages/IdentifierDetails/components/IdentifierContent.tsx
Owners: none

fix(ui): prevent submit when input invalid name
  src/ui/components/InputRequest/InputRequest.tsx
Owners: none

feat: remove mock case
  src/core/agent/services/keriaNotificationService.ts
Owners: @jimcase, @iFergal

feat(ui): I create identifier detail module
  src/ui/components/IdentifierDetailModule/IdentifierDetailModal.tsx
  src/ui/components/IdentifierDetailModule/IdentifierDetailModule.scss
  src/ui/components/IdentifierDetailModule/IdentifierDetailModule.test.tsx
  src/ui/components/IdentifierDetailModule/IdentifierDetailModule.tsx
  src/ui/components/IdentifierDetailModule/IdentifierDetailModule.types.ts
  src/ui/components/IdentifierDetailModule/components/IdentifierAttributeDetailModal/Advanced.tsx
  src/ui/components/IdentifierDetailModule/components/IdentifierAttributeDetailModal/IdentifierAttributeDetailModal.scss
  src/ui/components/IdentifierDetailModule/components/IdentifierAttributeDetailModal/IdentifierAttributeDetailModal.tsx
  src/ui/components/IdentifierDetailModule/components/IdentifierAttributeDetailModal/IdentifierAttributeDetailModal.types.ts
  src/ui/components/IdentifierDetailModule/components/IdentifierAttributeDetailModal/List.tsx
  src/ui/components/IdentifierDetailModule/components/IdentifierAttributeDetailModal/RotationThreshold.tsx
  src/ui/components/IdentifierDetailModule/components/IdentifierAttributeDetailModal/SigningThreshold.tsx
  src/ui/components/IdentifierDetailModule/components/IdentifierContent.tsx
  src/ui/components/IdentifierDetailModule/components/IdentifierContent.types.ts
  src/ui/components/IdentifierDetailModule/components/RotateKeyModal/RotateKeyModal.scss
  src/ui/components/IdentifierDetailModule/components/RotateKeyModal/RotateKeyModal.tsx
  src/ui/components/IdentifierDetailModule/components/RotateKeyModal/RotateKeyModal.types.ts
  src/ui/components/IdentifierDetailModule/components/RotateKeyModal/index.ts
  src/ui/components/IdentifierDetailModule/components/index.ts
  src/ui/components/IdentifierDetailModule/index.ts
Owners: @jimcase, @iFergal
