Repository cardano-foundation/cf-identity-wallet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rcmorano, @iFergal, @jimcase, @jorgenavben, @sdisalvo-crd, @obstar

.github/CODEOWNERS:

.github/* @rcmorano
Earthfile @rcmorano
Dockerfile @rcmorano @iFergal
docker* @rcmorano @iFergal

*.ts @jimcase @iFergal
*.js @jimcase @iFergal
*.cjs @jimcase @iFergal
*.json @jimcase @iFergal

.husky/* @jimcase @iFergal @jorgenavben

android/* @jimcase @iFergal

configs/* @iFergal

docs/* @jorgenavben

ios/* @jimcase @iFergal

services/* @jimcase @iFergal @jorgenavben

src/ui/* @jimcase @sdisalvo-crd
src/core/* @jimcase @iFergal @jorgenavben

tests/* @obstar

fix: resolve comment
  src/core/agent/services/keriaNotificationService.test.ts
  src/core/agent/services/keriaNotificationService.ts
Owners: @jimcase, @iFergal

feat(ui): add UT for global catcher
  src/ui/App.test.tsx
Owners: @jimcase, @sdisalvo-crd

fix: resolve comment and update resolveOobi follow Martin's PR
  src/core/agent/agent.ts
  src/core/agent/services/connectionService.test.ts
  src/core/agent/services/connectionService.ts
  src/ui/components/AppWrapper/AppWrapper.test.tsx
  src/ui/components/AppWrapper/AppWrapper.tsx
Owners: @jimcase, @iFergal

fix(ui): handle error when scan
  src/locales/en/en.json
  src/ui/components/Scanner/Scanner.scss
  src/ui/components/Scanner/Scanner.test.tsx
  src/ui/components/Scanner/Scanner.tsx
Owners: @jimcase, @iFergal

feat: return undefined when unable to get contacts
  src/core/agent/services/keriaNotificationService.ts
Owners: @jimcase, @iFergal

feat: update resolve oobi for normal connection flow
  src/core/agent/services/connectionService.test.ts
  src/core/agent/services/connectionService.ts
  src/core/agent/services/keriaNotificationService.ts
Owners: @jimcase, @iFergal

feat: update unit test
  src/core/agent/services/keriaNotificationService.test.ts
Owners: @jimcase, @iFergal

feat(ui): Generic error toasts in the UI (#818)
  src/ui/App.test.tsx
  src/ui/App.tsx
Owners: @jimcase, @sdisalvo-crd

fix(ui): handle error when scan (#820)
  src/locales/en/en.json
  src/ui/components/Scanner/Scanner.scss
  src/ui/components/Scanner/Scanner.test.tsx
  src/ui/components/Scanner/Scanner.tsx
Owners: @jimcase, @iFergal

fix: update identifier cache types
  src/store/reducers/identifiersCache/identifiersCache.types.ts
Owners: @jimcase, @iFergal

fix(ui): fix skipped UT on App
  src/ui/App.test.tsx
Owners: @jimcase, @sdisalvo-crd

fix(ui): fix skipped UT on App
  src/ui/App.test.tsx
Owners: @jimcase, @sdisalvo-crd

feat(ui): add message for rotate key modal
  src/locales/en/en.json
  src/ui/components/InfoCard/InfoCard.scss
  src/ui/components/InfoCard/InfoCard.tsx
  src/ui/components/InfoCard/InfoCard.types.ts
  src/ui/components/InfoCard/index.ts
  src/ui/pages/IdentifierDetails/IdentifierDetails.test.tsx
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/IdentifierDetailModal.scss
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/IdentifierDetailModal.tsx
  src/ui/pages/IdentifierDetails/components/RotateKeyModal/RotateKeyModal.scss
  src/ui/pages/IdentifierDetails/components/RotateKeyModal/RotateKeyModal.tsx
Owners: @jimcase, @iFergal

feat: handle credential revocations of credentials that aren't accepted yet in IPEX
  src/core/__fixtures__/agent/ipexCommunicationFixture.ts
  src/core/__fixtures__/agent/keriaNotificationFixture.ts
  src/core/agent/services/ipexCommunicationService.test.ts
  src/core/agent/services/ipexCommunicationService.ts
  src/core/agent/services/keriaNotificationService.test.ts
  src/core/agent/services/keriaNotificationService.ts
Owners: @jimcase, @iFergal

fix(ui): Force status bar style is dark mode on iOS failing test (#821)
  src/ui/App.test.tsx
Owners: @jimcase, @sdisalvo-crd

feat(ui): update toast message when rotate key success
  src/locales/en/en.json
Owners: @jimcase, @iFergal

fix: responsiveness issues
  src/ui/components/PageHeader/PageHeader.scss
  src/ui/pages/Connections/Connections.scss
Owners: none

feat(core): oobi resolution should not create or overwrite contacts (#812)
  services/credential-server/src/modules/signify/signifyApi.ts
  src/core/agent/services/connectionService.test.ts
  src/core/agent/services/connectionService.ts
  src/core/agent/services/keriaNotificationService.test.ts
  src/core/agent/services/keriaNotificationService.ts
Owners: @jimcase, @iFergal

feat: [core] ignore notifications for exchange messages originating from an identifier we own (#811)
  src/core/__fixtures__/agent/keriaNotificationFixture.ts
  src/core/agent/agent.types.ts
  src/core/agent/services/connectionService.types.ts
  src/core/agent/services/ipexCommunicationService.ts
  src/core/agent/services/keriaNotificationService.test.ts
  src/core/agent/services/keriaNotificationService.ts
Owners: @jimcase, @iFergal

test(jest): new unit tests
  src/store/reducers/credsCache/credsCache.test.ts
  src/store/reducers/identifiersCache/identifiersCache.test.ts
  src/ui/__fixtures__/filteredCredsFix.ts
  src/ui/__fixtures__/filteredIdentifierFix.ts
  src/ui/components/SwitchCardView/SwitchCardView.test.tsx
  src/ui/pages/Credentials/Credentials.test.tsx
  src/ui/pages/Identifiers/Identifiers.test.tsx
Owners: @jimcase, @iFergal

feat: add comment and unit test
  src/core/agent/services/keriaNotificationService.test.ts
  src/core/agent/services/keriaNotificationService.ts
Owners: @jimcase, @iFergal

fix(ui): use scss variable instead hardcode and update UT
  src/ui/components/InfoCard/InfoCard.scss
  src/ui/pages/IdentifierDetails/IdentifierDetails.test.tsx
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/IdentifierDetailModal.scss
  src/ui/pages/IdentifierDetails/components/RotateKeyModal/RotateKeyModal.scss
  src/ui/styles/colors.scss
Owners: none

fix(ui): fix skipped test
  src/ui/components/AppWrapper/AppWrapper.test.tsx
Owners: none

fix: remove useState from set filters
  src/ui/pages/Credentials/Credentials.tsx
  src/ui/pages/Identifiers/Identifiers.tsx
Owners: none

feat(ui): rename color var
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/IdentifierDetailModal.scss
  src/ui/pages/IdentifierDetails/components/RotateKeyModal/RotateKeyModal.scss
  src/ui/styles/colors.scss
Owners: none

feat(ui): add message for rotate key modal (#822)
  src/locales/en/en.json
  src/ui/components/AppWrapper/AppWrapper.test.tsx
  src/ui/components/InfoCard/InfoCard.scss
  src/ui/components/InfoCard/InfoCard.tsx
  src/ui/components/InfoCard/InfoCard.types.ts
  src/ui/components/InfoCard/index.ts
  src/ui/pages/IdentifierDetails/IdentifierDetails.test.tsx
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/IdentifierDetailModal.scss
  src/ui/pages/IdentifierDetails/components/IdetifierDetailModal/IdentifierDetailModal.tsx
  src/ui/pages/IdentifierDetails/components/RotateKeyModal/RotateKeyModal.scss
  src/ui/pages/IdentifierDetails/components/RotateKeyModal/RotateKeyModal.tsx
  src/ui/styles/colors.scss
Owners: @jimcase, @iFergal

test(jest): fix unit tests
  src/ui/pages/Credentials/Credentials.test.tsx
  src/ui/pages/Identifiers/Identifiers.test.tsx
Owners: none

feat: comment logic check already connection
  src/core/agent/services/keriaNotificationService.test.ts
  src/core/agent/services/keriaNotificationService.ts
Owners: @jimcase, @iFergal

fix: skip test instead of remove
  src/core/agent/services/keriaNotificationService.test.ts
Owners: @jimcase, @iFergal

feat(core): syncing of connections (#814)
  src/core/__fixtures__/agent/multSigFixtures.ts
  src/core/agent/agent.types.ts
  src/core/agent/services/connectionService.test.ts
  src/core/agent/services/connectionService.ts
  src/core/agent/services/keriaNotificationService.test.ts
  src/core/agent/services/keriaNotificationService.ts
  src/core/agent/services/multiSigService.test.ts
  src/core/agent/services/multiSigService.ts
  src/store/reducers/connectionsCache/connectionsCache.test.ts
  src/store/reducers/identifiersCache/identifiersCache.test.ts
  src/ui/__fixtures__/connectionsFix.ts
  src/ui/__fixtures__/credsFix.ts
  src/ui/components/InputRequest/InputRequest.tsx
  src/ui/components/Scanner/Scanner.tsx
  src/ui/pages/ConnectionDetails/ConnectionDetails.test.tsx
  src/ui/pages/ConnectionDetails/ConnectionDetails.tsx
  src/ui/pages/ConnectionDetails/components/ConnectionHistoryEvent.tsx
  src/ui/pages/ConnectionDetails/components/EditConnectionsModal.test.tsx
  src/ui/pages/ConnectionDetails/components/EditConnectionsModal.tsx
  src/ui/pages/Connections/Connections.test.tsx
  src/ui/pages/Connections/components/AlphabeticList.tsx
Owners: @jimcase, @iFergal

feat(cred-server/ccre): add deleteSchema endpoint and update configurations
  services/credential-server-ui/src/App.tsx
  services/credential-server-ui/src/components/CredentialForm.tsx
  services/credential-server-ui/src/config.ts
  services/credential-server-ui/src/pages/CreateSchemaPage.tsx
  services/credential-server-ui/src/utils/schemas.ts
  services/credential-server/src/apis/schema.api.ts
  services/credential-server/src/config.ts
  services/credential-server/src/modules/signify/signifyApi.ts
  services/credential-server/src/routes.ts
  services/credential-server/src/server.ts
Owners: @jimcase, @iFergal

refactor(cred-server): rename saidifySchema to saveSchema in agent and update references
  services/credential-server/src/agent.ts
  services/credential-server/src/apis/schema.api.ts
  services/credential-server/src/modules/signify/signifyApi.ts
Owners: @jimcase, @iFergal

feat(ui): implement validation for username, connection, identifier
  src/locales/en/en.json
  src/ui/components/CreateIdentifier/CreateIdentifier.scss
  src/ui/components/CreateIdentifier/components/IdentifierStage0.test.tsx
  src/ui/components/CreateIdentifier/components/IdentifierStage0.tsx
  src/ui/components/InputRequest/InputRequest.scss
  src/ui/components/InputRequest/InputRequest.test.tsx
  src/ui/components/InputRequest/InputRequest.tsx
  src/ui/components/Scanner/Scanner.tsx
  src/ui/pages/Menu/components/Profile/Profile.scss
  src/ui/pages/Menu/components/Profile/Profile.test.tsx
  src/ui/pages/Menu/components/Profile/Profile.tsx
  src/ui/utils/nameChecker.test.ts
  src/ui/utils/nameChecker.ts
Owners: @jimcase, @iFergal

fix: resolve comment
  src/core/agent/agent.ts
  src/core/agent/agent.types.ts
  src/core/agent/services/connectionService.test.ts
  src/core/agent/services/connectionService.ts
  src/ui/components/AppWrapper/AppWrapper.tsx
Owners: @jimcase, @iFergal

feat: deleting a keria connection when local connection metadata record does not exist
  src/core/agent/services/keriaNotificationService.test.ts
  src/core/agent/services/keriaNotificationService.ts
Owners: @jimcase, @iFergal

feat(ui): fix UT
  src/ui/components/CreateIdentifier/CreateIdentifier.test.tsx
Owners: none

feat(ui): remove ios unsupported css property and update background blur for rotate modal
  src/ui/pages/IdentifierDetails/components/RotateKeyModal/RotateKeyModal.scss
Owners: none

feat: resolving the warning for getMultisigLinkedContacts function
  src/core/agent/services/connectionService.ts
Owners: @jimcase, @iFergal

feat: deleting a keria connection when the local connection metadata record does not exist (#825)
  src/core/agent/services/connectionService.ts
  src/core/agent/services/keriaNotificationService.test.ts
  src/core/agent/services/keriaNotificationService.ts
Owners: @jimcase, @iFergal

fix(ui): update UI for profile page
  src/ui/pages/Menu/Menu.tsx
  src/ui/pages/Menu/components/Profile/Profile.tsx
  src/ui/pages/Menu/components/SubMenu/SubMenu.scss
Owners: none
