Repository cardano-foundation/cf-identity-wallet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rcmorano, @iFergal, @jimcase, @jorgenavben, @sdisalvo-crd, @obstar

test(core): specific display name to update KERIA on when deleting identifier
  src/core/agent/services/identifierService.test.ts
Owners: @jimcase, @iFergal

fix(core): update logic with random salt in name when deleting identifier (#851)
  src/core/agent/services/identifierService.test.ts
  src/core/agent/services/identifierService.ts
Owners: @jimcase, @iFergal

feat(core): simplified core group ipex admit assuming a single leader
  src/core/__fixtures__/agent/ipexCommunicationFixtures.ts
  src/core/__fixtures__/agent/keriaNotificationFixtures.ts
  src/core/agent/records/notificationRecord.ts
  src/core/agent/records/notificationRecord.types.ts
  src/core/agent/records/notificationStorage.test.ts
  src/core/agent/services/authService.test.ts
  src/core/agent/services/connectionService.test.ts
  src/core/agent/services/connectionService.ts
  src/core/agent/services/credentialService.test.ts
  src/core/agent/services/identifierService.test.ts
  src/core/agent/services/ipexCommunicationService.test.ts
  src/core/agent/services/ipexCommunicationService.ts
  src/core/agent/services/ipexCommunicationService.types.ts
  src/core/agent/services/keriaNotificationService.test.ts
  src/core/agent/services/keriaNotificationService.ts
  src/core/agent/services/multiSig.types.ts
  src/core/agent/services/multiSigService.test.ts
  src/ui/components/AppWrapper/coreEventListeners.ts
Owners: @jimcase, @iFergal

feat(ui): update admit/join logic in basic form
  src/ui/pages/NotificationDetails/components/ReceiveCredential/ReceiveCredential.test.tsx
  src/ui/pages/NotificationDetails/components/ReceiveCredential/ReceiveCredential.tsx
  src/ui/pages/NotificationDetails/components/ReceiveCredential/ReceiveCredential.types.ts
Owners: @jimcase, @iFergal

fix(ui): join admit with correct notification id
  src/ui/pages/NotificationDetails/components/ReceiveCredential/ReceiveCredential.tsx
Owners: none

feat: use witnesses available from KERIA config (first attempt)
  .env.example
  configs/local-comm.yaml
  configs/local-ent.yaml
  configs/local.yaml
  configs/remote-dev-comm.yaml
  configs/remote.yaml
  docker-compose.yaml
  keria-oobi-config.json
  package-lock.json
  package.json
  src/core/agent/services/identifierService.test.ts
  src/core/agent/services/identifierService.ts
  src/core/configuration/configurationService.ts
  src/core/configuration/configurationService.types.ts
Owners: @iFergal, @rcmorano, @jimcase

feat: update unit test
  src/core/agent/services/connectionService.test.ts
  src/ui/components/InputRequest/InputRequest.tsx
Owners: @jimcase, @iFergal

fix syncKeriaIdentifiers
  src/core/agent/services/identifierService.test.ts
  src/core/agent/services/identifierService.ts
Owners: @jimcase, @iFergal

update unit test
  src/core/agent/services/identifierService.test.ts
  src/core/agent/services/identifierService.ts
Owners: @jimcase, @iFergal

feat(core): strict checking of allowed OOBI URL formats (#849)
  src/core/agent/agent.types.ts
  src/core/agent/services/connectionService.test.ts
  src/core/agent/services/connectionService.ts
  src/ui/components/InputRequest/InputRequest.tsx
  src/ui/components/Scanner/Scanner.test.tsx
  src/ui/components/Scanner/Scanner.tsx
  src/ui/pages/Scan/Scan.test.tsx
Owners: @jimcase, @iFergal

fix: update flow create individual identifier reliability
  src/core/agent/agent.ts
  src/core/agent/agent.types.ts
  src/core/agent/event.types.ts
  src/core/agent/services/identifierService.test.ts
  src/core/agent/services/identifierService.ts
  src/core/agent/services/keriaNotificationService.test.ts
  src/ui/App.test.tsx
  src/ui/components/AppWrapper/AppWrapper.test.tsx
  src/ui/components/AppWrapper/AppWrapper.tsx
  src/ui/components/AppWrapper/coreEventListeners.ts
  src/ui/components/CreateIdentifier/CreateIdentifier.test.tsx
  src/ui/components/CreateIdentifier/CreateIdentifier.tsx
Owners: @jimcase, @iFergal, @sdisalvo-crd

check op with witness
  src/core/agent/services/identifierService.ts
  src/ui/components/AppWrapper/AppWrapper.tsx
Owners: @jimcase, @iFergal

check op with witness
  src/ui/components/AppWrapper/AppWrapper.tsx
Owners: none

check op with witness
  src/ui/components/AppWrapper/AppWrapper.tsx
Owners: none

feat: syncing of identifiers (#845)
  src/core/agent/services/identifierService.test.ts
  src/core/agent/services/identifierService.ts
Owners: @jimcase, @iFergal

fix(ui): getStatus dependency array
  src/ui/pages/NotificationDetails/components/ReceiveCredential/ReceiveCredential.tsx
Owners: none

fix: remove rest of backing part of config
  src/core/configuration/configurationService.ts
Owners: @jimcase, @iFergal

feat: coordinated group receive credential (#853)
  src/core/__fixtures__/agent/ipexCommunicationFixtures.ts
  src/core/__fixtures__/agent/keriaNotificationFixtures.ts
  src/core/agent/records/notificationRecord.ts
  src/core/agent/records/notificationRecord.types.ts
  src/core/agent/records/notificationStorage.test.ts
  src/core/agent/services/authService.test.ts
  src/core/agent/services/connectionService.test.ts
  src/core/agent/services/connectionService.ts
  src/core/agent/services/credentialService.test.ts
  src/core/agent/services/identifierService.test.ts
  src/core/agent/services/ipexCommunicationService.test.ts
  src/core/agent/services/ipexCommunicationService.ts
  src/core/agent/services/ipexCommunicationService.types.ts
  src/core/agent/services/keriaNotificationService.test.ts
  src/core/agent/services/keriaNotificationService.ts
  src/core/agent/services/multiSig.types.ts
  src/core/agent/services/multiSigService.test.ts
  src/ui/components/AppWrapper/coreEventListeners.ts
  src/ui/pages/NotificationDetails/components/ReceiveCredential/ReceiveCredential.test.tsx
  src/ui/pages/NotificationDetails/components/ReceiveCredential/ReceiveCredential.tsx
  src/ui/pages/NotificationDetails/components/ReceiveCredential/ReceiveCredential.types.ts
Owners: @jimcase, @iFergal

build: revert cred server url for docker
  configs/local.yaml
Owners: @iFergal

fix(ui): Fix barcode scanner active when open connections or create identifier
  src/ui/components/Scanner/Scanner.test.tsx
  src/ui/components/Scanner/Scanner.tsx
Owners: none

fix(core): extract eids from oobi urls
  src/core/agent/services/identifierService.test.ts
  src/core/agent/services/identifierService.ts
Owners: @jimcase, @iFergal

build: deploy witnesses (properly)
  docker-compose.yaml
  keria-config/config.json
  keria-config/witnesses/wan.json
  keria-config/witnesses/wes.json
  keria-config/witnesses/wil.json
  keria-config/witnesses/wit.json
  keria-config/witnesses/wub.json
  keria-config/witnesses/wyz.json
  keria-oobi-config.json
  services/docker-compose.yaml
  services/external/keria-config/cf-backer-oobis.json
  services/external/keria-config/witnesses/wan.json
  services/external/keria-config/witnesses/wes.json
  services/external/keria-config/witnesses/wil.json
  services/external/keria-config/witnesses/wit.json
  services/external/keria-config/witnesses/wub.json
  services/external/keria-config/witnesses/wyz.json
Owners: @rcmorano, @iFergal, @jimcase, @jorgenavben

build: version 12
  android/app/build.gradle
  ios/App/App.xcodeproj/project.pbxproj
Owners: none

feat(ui): update attributes label
  src/locales/en/en.json
  src/ui/components/CredentialDetailModule/components/CredentialAttributeDetailModal/CredentialAttributeDetailModal.tsx
Owners: @jimcase, @iFergal

fix: added optional credentialId to NotificationRecord for find notification in a revocation case
  src/core/agent/records/notificationRecord.ts
  src/core/agent/services/keriaNotificationService.ts
Owners: @jimcase, @iFergal

feat(ui): show multi toasts after scan
  src/ui/components/Scanner/Scanner.tsx
Owners: none

fix(ui): fix multiple toasts show after scan connection
  src/ui/components/Scanner/Scanner.tsx
  src/ui/pages/FullPageScanner/FullPageScanner.test.tsx
  src/ui/pages/Scan/Scan.test.tsx
Owners: none

fix: add delay to get state of credential from signify
  src/core/agent/services/keriaNotificationService.test.ts
  src/core/agent/services/keriaNotificationService.ts
Owners: @jimcase, @iFergal

feat(ui): remove unused import and fix type warning
  src/routes/nextRoute/nextRoute.ts
  src/store/reducers/notificationsCache/notificationsCache.ts
  src/store/reducers/stateCache/stateCache.types.ts
  src/types/index.d.ts
  src/ui/components/AppWrapper/coreEventListeners.ts
  src/ui/components/CardDetails/CardDetailsAttributes/CardDetailsAttributes.tsx
  src/ui/components/CardDetails/CardDetailsAttributes/CardDetailsNestedAttributes.tsx
  src/ui/components/CredentialDetailModule/CredentialDetailModule.tsx
  src/ui/components/CredentialDetailModule/components/CredentialContent.test.tsx
  src/ui/components/SeedPhraseModule/SeedPhraseModule.tsx
  src/ui/components/SeedPhraseModule/SeedPhraseModule.types.ts
  src/ui/pages/ConnectionDetails/components/ConnectionHistoryEvent.tsx
  src/ui/pages/Connections/Connections.types.ts
  src/ui/pages/Notifications/components/NotificationOptionsModal.tsx
Owners: @jimcase, @iFergal

feat(ui): fix missing dependency on useEffect
  src/i18n.ts
  src/routes/backRoute/backRoute.ts
  src/routes/backRoute/backRoute.types.ts
  src/routes/nextRoute/nextRoute.ts
  src/routes/nextRoute/nextRoute.types.ts
  src/store/reducers/stateCache/stateCache.ts
  src/store/utils.ts
  src/ui/__mocks__/@capacitor/clipboard.ts
  src/ui/__mocks__/@capacitor/preferences.ts
  src/ui/components/AppWrapper/AppWrapper.tsx
  src/ui/components/AppWrapper/hooks/useActivityTimer.tsx
  src/ui/components/CardSlider/CardSlider.tsx
  src/ui/components/CreateGroupIdentifier/components/SetupConnections.tsx
  src/ui/components/CreatePasscodeModule/CreatePasscodeModule.tsx
  src/ui/components/CredentialDetailModule/CredentialDetailModule.tsx
  src/ui/components/ErrorMessage/ErrorMessage.tsx
  src/ui/components/ForgotAuthInfo/ForgotAuthInfo.tsx
  src/ui/components/Scanner/Scanner.tsx
  src/ui/components/SidePage/SidePage.tsx
  src/ui/components/VerifyPassword/VerifyPassword.tsx
  src/ui/hooks/toggleConnectionHook.ts
  src/ui/hooks/useBiometricsHook.ts
  src/ui/pages/ConnectionDetails/ConnectionDetails.tsx
  src/ui/pages/Connections/Connections.tsx
  src/ui/pages/GenerateSeedPhrase/GenerateSeedPhrase.tsx
  src/ui/pages/IncomingRequest/IncomingRequest.tsx
  src/ui/pages/IncomingRequest/components/SignRequest.tsx
  src/ui/pages/LockPage/LockPage.tsx
  src/ui/pages/Menu/Menu.tsx
  src/ui/pages/Menu/components/Settings/Settings.tsx
  src/ui/pages/Menu/components/Settings/components/ChangePin/ChangePin.tsx
  src/ui/pages/Menu/components/SubMenuItems.tsx
  src/ui/pages/SetPasscode/SetPasscode.tsx
  src/ui/pages/VerifySeedPhrase/VerifySeedPhrase.tsx
Owners: @jimcase, @iFergal

feat(ut): Fix failed UT
  src/core/agent/agent.test.ts
Owners: @jimcase, @iFergal

fix(ut): Fix UT
  src/ui/components/CardDetails/CardDetailsAttributes/CardDetailsAttributes.tsx
  src/ui/components/CardDetails/CardDetailsAttributes/CardDetailsNestedAttributes.tsx
  src/ui/components/Scanner/Scanner.test.tsx
Owners: none

feat(ui): add lint check to ci
  .github/workflows/gh-verify-branch.yaml
  .github/workflows/gh-verify-pr.yaml
  package.json
Owners: @jimcase, @iFergal

feat(ui): Adjust credential details attributes to allow for new custom schema (#846)
  src/locales/en/en.json
  src/ui/components/CardDetails/CardDetailsBlock/CardDetailsBlock.scss
  src/ui/components/CardDetails/CardDetailsExpandAttributes/CardDetailsAttribute.tsx
  src/ui/components/CardDetails/CardDetailsExpandAttributes/CardDetailsAttributes.scss
  src/ui/components/CardDetails/CardDetailsExpandAttributes/CardDetailsExpandAttributes.tsx
  src/ui/components/CardDetails/CardDetailsExpandAttributes/CardDetailsExpandAttributes.types.ts
  src/ui/components/CardDetails/CardDetailsExpandAttributes/CardDetailsExpandAttributes.utils.ts
  src/ui/components/CardDetails/CardDetailsExpandAttributes/index.ts
  src/ui/components/CardDetails/index.ts
  src/ui/components/CredentialDetailModule/components/CredentialAttributeDetailModal/CredentialAttributeContent.tsx
  src/ui/components/CredentialDetailModule/components/CredentialAttributeDetailModal/CredentialAttributeDetailModal.tsx
  src/ui/components/CredentialDetailModule/components/CredentialAttributeDetailModal/CredentialAttributeDetailModal.types.ts
  src/ui/components/CredentialDetailModule/components/CredentialAttributeDetailModal/index.ts
  src/ui/components/CredentialDetailModule/components/CredentialContent.test.tsx
  src/ui/components/CredentialDetailModule/components/CredentialContent.tsx
Owners: @jimcase, @iFergal

feat(ui): Connection deleted (#850)
  src/locales/en/en.json
  src/ui/components/CredentialDetailModule/CredentialDetailModule.tsx
  src/ui/components/CredentialDetailModule/components/CredentialContent.tsx
  src/ui/components/Scanner/Scanner.test.tsx
  src/ui/components/Scanner/Scanner.tsx
  src/ui/pages/FullPageScanner/FullPageScanner.test.tsx
  src/ui/pages/NotificationDetails/components/CredentialRequest/ChooseCredential/ChooseCredential.tsx
  src/ui/pages/NotificationDetails/components/CredentialRequest/CredentialRequestInformation/CredentialRequestInformation.tsx
  src/ui/pages/NotificationDetails/components/MultiSigRequest/MultiSigRequest.tsx
  src/ui/pages/NotificationDetails/components/ReceiveCredential/ReceiveCredential.tsx
  src/ui/pages/Notifications/NotificationItem.tsx
  src/ui/pages/Scan/Scan.test.tsx
Owners: @jimcase, @iFergal

feat(core): re-process duplicate IPEX grant issuances until turns to rev
  src/core/agent/records/notificationRecord.ts
  src/core/agent/services/keriaNotificationService.test.ts
  src/core/agent/services/keriaNotificationService.ts
Owners: @jimcase, @iFergal

fix: update display revocation notification for credential before user acceptance (#843)
  src/core/agent/records/notificationRecord.ts
  src/core/agent/services/keriaNotificationService.test.ts
  src/core/agent/services/keriaNotificationService.ts
Owners: @jimcase, @iFergal

.github/CODEOWNERS:

.github/* @rcmorano
Earthfile @rcmorano
Dockerfile @rcmorano @iFergal
docker* @rcmorano @iFergal

*.ts @jimcase @iFergal
*.js @jimcase @iFergal
*.cjs @jimcase @iFergal
*.json @jimcase @iFergal

.husky/* @jimcase @iFergal @jorgenavben

android/* @jimcase @iFergal

configs/* @iFergal

docs/* @jorgenavben

ios/* @jimcase @iFergal

services/* @jimcase @iFergal @jorgenavben

src/ui/* @jimcase @sdisalvo-crd
src/core/* @jimcase @iFergal @jorgenavben

tests/* @obstar
