Repository cardano-foundation/cf-identity-wallet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rcmorano, @iFergal, @jimcase, @jorgenavben, @sdisalvo-crd, @obstar

.github/CODEOWNERS:

.github/* @rcmorano
Earthfile @rcmorano
Dockerfile @rcmorano @iFergal
docker* @rcmorano @iFergal

*.ts @jimcase @iFergal
*.js @jimcase @iFergal
*.cjs @jimcase @iFergal
*.json @jimcase @iFergal

.husky/* @jimcase @iFergal @jorgenavben

android/* @jimcase @iFergal

configs/* @iFergal

docs/* @jorgenavben

ios/* @jimcase @iFergal

services/* @jimcase @iFergal @jorgenavben

src/ui/* @jimcase @sdisalvo-crd
src/core/* @jimcase @iFergal @jorgenavben

tests/* @obstar

feat(ui): update identifier detail
  src/ui/pages/IdentifierDetails/IdentifierDetails.test.tsx
  src/ui/pages/IdentifierDetails/IdentifierDetails.tsx
  src/ui/pages/IdentifierDetails/components/IdentifierAttributeDetailModal/Advanced.tsx
  src/ui/pages/IdentifierDetails/components/IdentifierAttributeDetailModal/IdentifierAttributeDetailModal.scss
  src/ui/pages/IdentifierDetails/components/IdentifierAttributeDetailModal/IdentifierAttributeDetailModal.tsx
  src/ui/pages/IdentifierDetails/components/IdentifierAttributeDetailModal/IdentifierAttributeDetailModal.types.ts
  src/ui/pages/IdentifierDetails/components/IdentifierAttributeDetailModal/List.tsx
  src/ui/pages/IdentifierDetails/components/IdentifierAttributeDetailModal/RotationThreshold.tsx
  src/ui/pages/IdentifierDetails/components/IdentifierAttributeDetailModal/SigningThreshold.tsx
  src/ui/pages/IdentifierDetails/components/IdentifierContent.tsx
  src/ui/pages/IdentifierDetails/components/IdentifierContent.types.ts
  src/ui/pages/IdentifierDetails/components/RotateKeyModal/RotateKeyModal.scss
  src/ui/pages/IdentifierDetails/components/RotateKeyModal/RotateKeyModal.tsx
  src/ui/pages/IdentifierDetails/components/RotateKeyModal/RotateKeyModal.types.ts
  src/ui/pages/IdentifierDetails/components/RotateKeyModal/index.ts
  src/ui/pages/IdentifierDetails/components/index.ts
Owners: @jimcase, @iFergal

feat(ui): add related identifier to cred
  src/locales/en/en.json
  src/ui/__fixtures__/filteredIdentifierFix.ts
  src/ui/components/CredentialDetailModule/CredentialDetailModule.test.tsx
  src/ui/components/CredentialDetailModule/components/CredentialContent.test.tsx
  src/ui/components/CredentialDetailModule/components/CredentialContent.tsx
  src/ui/components/IdentifierDetailModule/IdentifierDetailModule.scss
  src/ui/components/IdentifierDetailModule/IdentifierDetailModule.tsx
  src/ui/components/VerifyPasscode/VerifyPasscode.test.tsx
  src/ui/pages/CredentialDetails/CredentialDetails.test.tsx
  src/ui/pages/Credentials/Credentials.scss
  src/ui/pages/Identifiers/Identifiers.scss
  src/ui/pages/NotificationDetails/components/CredentialRequest/ChooseCredential/ChooseCredential.test.tsx
Owners: @jimcase, @iFergal

fix(ui): Fix duplicate connection
  src/ui/components/InputRequest/InputRequest.tsx
  src/ui/components/Scanner/Scanner.test.tsx
  src/ui/components/Scanner/Scanner.tsx
  src/ui/pages/FullPageScanner/FullPageScanner.test.tsx
  src/ui/pages/Scan/Scan.test.tsx
Owners: none

feat(ui): hide related identifier when cannot find identifier
  src/ui/components/CredentialDetailModule/components/CredentialContent.tsx
Owners: none

feat(ui): Add Related Identifier Information to Credential Details (#839)
  src/locales/en/en.json
  src/ui/__fixtures__/filteredIdentifierFix.ts
  src/ui/components/CredentialDetailModule/CredentialDetailModule.test.tsx
  src/ui/components/CredentialDetailModule/components/CredentialContent.test.tsx
  src/ui/components/CredentialDetailModule/components/CredentialContent.tsx
  src/ui/components/IdentifierDetailModule/IdentifierDetailModal.tsx
  src/ui/components/IdentifierDetailModule/IdentifierDetailModule.scss
  src/ui/components/IdentifierDetailModule/IdentifierDetailModule.test.tsx
  src/ui/components/IdentifierDetailModule/IdentifierDetailModule.tsx
  src/ui/components/IdentifierDetailModule/IdentifierDetailModule.types.ts
  src/ui/components/IdentifierDetailModule/components/IdentifierAttributeDetailModal/Advanced.tsx
  src/ui/components/IdentifierDetailModule/components/IdentifierAttributeDetailModal/IdentifierAttributeDetailModal.scss
  src/ui/components/IdentifierDetailModule/components/IdentifierAttributeDetailModal/IdentifierAttributeDetailModal.tsx
  src/ui/components/IdentifierDetailModule/components/IdentifierAttributeDetailModal/IdentifierAttributeDetailModal.types.ts
  src/ui/components/IdentifierDetailModule/components/IdentifierAttributeDetailModal/List.tsx
  src/ui/components/IdentifierDetailModule/components/IdentifierAttributeDetailModal/RotationThreshold.tsx
  src/ui/components/IdentifierDetailModule/components/IdentifierAttributeDetailModal/SigningThreshold.tsx
  src/ui/components/IdentifierDetailModule/components/IdentifierContent.tsx
  src/ui/components/IdentifierDetailModule/components/IdentifierContent.types.ts
  src/ui/components/IdentifierDetailModule/components/RotateKeyModal/RotateKeyModal.scss
  src/ui/components/IdentifierDetailModule/components/RotateKeyModal/RotateKeyModal.tsx
  src/ui/components/IdentifierDetailModule/components/RotateKeyModal/RotateKeyModal.types.ts
  src/ui/components/IdentifierDetailModule/components/RotateKeyModal/index.ts
  src/ui/components/IdentifierDetailModule/components/index.ts
  src/ui/components/IdentifierDetailModule/index.ts
  src/ui/components/InputRequest/InputRequest.tsx
  src/ui/components/Scanner/Scanner.test.tsx
  src/ui/components/Scanner/Scanner.tsx
  src/ui/components/VerifyPasscode/VerifyPasscode.test.tsx
  src/ui/pages/CredentialDetails/CredentialDetails.test.tsx
  src/ui/pages/Credentials/Credentials.scss
  src/ui/pages/FullPageScanner/FullPageScanner.test.tsx
  src/ui/pages/IdentifierDetails/IdentifierDetails.tsx
  src/ui/pages/IdentifierDetails/components/IdentifierAttributeDetailModal/IdentifierAttributeDetailModal.scss
  src/ui/pages/Identifiers/Identifiers.scss
  src/ui/pages/NotificationDetails/components/CredentialRequest/ChooseCredential/ChooseCredential.test.tsx
  src/ui/pages/Scan/Scan.test.tsx
Owners: @jimcase, @iFergal

build: Ran npm audit fix
  package-lock.json
  services/credential-server-ui/package-lock.json
  services/credential-server-ui/package.json
  services/credential-server/package-lock.json
Owners: @jimcase, @iFergal

feat(ui): revoke notification for receive cred
  src/locales/en/en.json
  src/ui/components/InfoCard/InfoCard.tsx
  src/ui/components/InfoCard/InfoCard.types.ts
  src/ui/pages/NotificationDetails/components/ReceiveCredential/ReceiveCredential.scss
  src/ui/pages/NotificationDetails/components/ReceiveCredential/ReceiveCredential.tsx
Owners: @jimcase, @iFergal

feat(ui): add related identifier button
  src/locales/en/en.json
  src/ui/pages/NotificationDetails/components/ReceiveCredential/ReceiveCredential.scss
  src/ui/pages/NotificationDetails/components/ReceiveCredential/ReceiveCredential.test.tsx
  src/ui/pages/NotificationDetails/components/ReceiveCredential/ReceiveCredential.tsx
Owners: @jimcase, @iFergal

feat(ui): change color to variable
  src/ui/pages/NotificationDetails/components/MultiSigRequest/ErrorPage.scss
  src/ui/pages/NotificationDetails/components/ReceiveCredential/ReceiveCredential.scss
  src/ui/styles/colors.scss
Owners: none

fix(ui): fix pending identifier display on all identifiers section
  src/ui/pages/Identifiers/Identifiers.tsx
Owners: none

fix: update display revocation notificationfor credential before user acceptance
  src/core/agent/services/keriaNotificationService.test.ts
  src/core/agent/services/keriaNotificationService.ts
Owners: @jimcase, @iFergal

feat(ui): Display revocation notification for credentials before user acceptance (#840)
  src/locales/en/en.json
  src/ui/components/InfoCard/InfoCard.tsx
  src/ui/components/InfoCard/InfoCard.types.ts
  src/ui/pages/NotificationDetails/components/MultiSigRequest/ErrorPage.scss
  src/ui/pages/NotificationDetails/components/ReceiveCredential/ReceiveCredential.scss
  src/ui/pages/NotificationDetails/components/ReceiveCredential/ReceiveCredential.test.tsx
  src/ui/pages/NotificationDetails/components/ReceiveCredential/ReceiveCredential.tsx
  src/ui/styles/colors.scss
Owners: @jimcase, @iFergal

fix(ui): fix pending identifier display on all identifiers section (#842)
  src/ui/pages/Identifiers/Identifiers.tsx
Owners: none

feat: delete identifier idempotency
  src/core/agent/agent.test.ts
  src/core/agent/agent.ts
  src/core/agent/event.types.ts
  src/core/agent/records/identifierMetadataRecord.ts
  src/core/agent/records/identifierStorage.ts
  src/core/agent/services/connectionService.test.ts
  src/core/agent/services/identifierService.test.ts
  src/core/agent/services/identifierService.ts
  src/ui/App.test.tsx
  src/ui/components/AppWrapper/AppWrapper.test.tsx
  src/ui/components/AppWrapper/AppWrapper.tsx
  src/ui/components/CreateGroupIdentifier/components/SetupConnections.test.tsx
  src/ui/components/CreateGroupIdentifier/components/SetupConnections.tsx
  src/ui/components/IdentifierDetailModule/IdentifierDetailModule.test.tsx
  src/ui/components/IdentifierDetailModule/IdentifierDetailModule.tsx
  src/ui/pages/Identifiers/Identifiers.test.tsx
  src/ui/pages/Identifiers/Identifiers.tsx
Owners: @jimcase, @iFergal, @sdisalvo-crd

feat(ui): create new cred attribute component
  src/locales/en/en.json
  src/ui/components/CardDetails/CardDetailsBlock/CardDetailsBlock.scss
  src/ui/components/CardDetails/CardDetailsExpandAttributes/CardDetailsAttribute.tsx
  src/ui/components/CardDetails/CardDetailsExpandAttributes/CardDetailsAttributes.scss
  src/ui/components/CardDetails/CardDetailsExpandAttributes/CardDetailsExpandAttributes.tsx
  src/ui/components/CardDetails/CardDetailsExpandAttributes/CardDetailsExpandAttributes.types.ts
  src/ui/components/CardDetails/CardDetailsExpandAttributes/CardDetailsExpandAttributes.utils.ts
  src/ui/components/CardDetails/CardDetailsExpandAttributes/index.ts
  src/ui/components/CardDetails/index.ts
  src/ui/components/CredentialDetailModule/components/CredentialAttributeDetailModal/index.ts
Owners: @jimcase, @iFergal

feat: Syncing of identifier
  src/core/agent/services/identifierService.ts
Owners: @jimcase, @iFergal

update unit test
  src/core/agent/services/identifierService.test.ts
Owners: @jimcase, @iFergal

feat(ui): update cred attribute
  src/locales/en/en.json
  src/ui/components/CardDetails/CardDetailsExpandAttributes/CardDetailsAttribute.tsx
  src/ui/components/CardDetails/CardDetailsExpandAttributes/CardDetailsExpandAttributes.tsx
  src/ui/components/CardDetails/CardDetailsExpandAttributes/CardDetailsExpandAttributes.types.ts
  src/ui/components/CredentialDetailModule/components/CredentialAttributeDetailModal/CredentialAttributeContent.tsx
  src/ui/components/CredentialDetailModule/components/CredentialAttributeDetailModal/CredentialAttributeDetailModal.types.ts
  src/ui/components/CredentialDetailModule/components/CredentialContent.test.tsx
  src/ui/components/CredentialDetailModule/components/CredentialContent.tsx
Owners: @jimcase, @iFergal

fix: update function deleteIdentifier and updateIdentifierMetadata
  src/core/agent/records/identifierStorage.ts
  src/core/agent/services/identifierService.test.ts
  src/core/agent/services/identifierService.ts
Owners: @jimcase, @iFergal

fix(ui): handle error when cancel share modal
  src/ui/components/CreateIdentifier/CreateIdentifier.tsx
  src/ui/components/ShareConnection/ShareConnection.tsx
Owners: none

feat(ui): Fix space of footer button
  src/ui/components/CreateGroupIdentifier/CreateGroupIdentifier.scss
  src/ui/components/CreateIdentifier/CreateIdentifier.scss
  src/ui/components/ShareConnection/ShareConnection.test.tsx
Owners: none

feat(core): notification failure handling (#835)
  src/core/agent/agent.types.ts
  src/core/agent/records/notificationRecord.types.ts
  src/core/agent/services/keriaNotificationService.test.ts
  src/core/agent/services/keriaNotificationService.ts
Owners: @jimcase, @iFergal

fix(ui): Unexpected error when closing more sharing options menu (#847)
  src/ui/components/CreateGroupIdentifier/CreateGroupIdentifier.scss
  src/ui/components/CreateIdentifier/CreateIdentifier.scss
  src/ui/components/CreateIdentifier/CreateIdentifier.tsx
  src/ui/components/ShareConnection/ShareConnection.test.tsx
  src/ui/components/ShareConnection/ShareConnection.tsx
Owners: none

feat(ui): remove unnecessary attributes
  src/ui/components/CredentialDetailModule/components/CredentialAttributeDetailModal/CredentialAttributeContent.tsx
Owners: none

feat: syncing of credentials with complete status
  src/core/agent/services/credentialService.ts
Owners: @jimcase, @iFergal

feat: strict checking of allowed OOBI URL formats
  src/core/agent/agent.types.ts
  src/core/agent/services/connectionService.test.ts
  src/core/agent/services/connectionService.ts
  src/ui/components/InputRequest/InputRequest.tsx
  src/ui/components/Scanner/Scanner.tsx
Owners: @jimcase, @iFergal

fix: resolve comment
  src/core/agent/agent.test.ts
  src/core/agent/agent.ts
  src/core/agent/records/identifierStorage.ts
  src/core/agent/services/identifierService.test.ts
  src/core/agent/services/identifierService.ts
  src/ui/App.test.tsx
  src/ui/components/AppWrapper/AppWrapper.test.tsx
  src/ui/components/AppWrapper/AppWrapper.tsx
Owners: @jimcase, @iFergal, @sdisalvo-crd

feat(ui): create unknown connection name when missing connection
  src/locales/en/en.json
  src/ui/components/CredentialDetailModule/CredentialDetailModule.tsx
  src/ui/components/CredentialDetailModule/components/CredentialContent.tsx
  src/ui/pages/NotificationDetails/components/CredentialRequest/ChooseCredential/ChooseCredential.tsx
  src/ui/pages/NotificationDetails/components/CredentialRequest/CredentialRequestInformation/CredentialRequestInformation.tsx
  src/ui/pages/NotificationDetails/components/MultiSigRequest/MultiSigRequest.tsx
  src/ui/pages/NotificationDetails/components/ReceiveCredential/ReceiveCredential.tsx
  src/ui/pages/Notifications/NotificationItem.tsx
Owners: @jimcase, @iFergal

fix: resolve comment
  src/core/agent/services/keriaNotificationService.test.ts
  src/core/agent/services/keriaNotificationService.ts
Owners: @jimcase, @iFergal

fix: update logic with random salt in name when delete identifier
  src/core/agent/services/identifierService.test.ts
  src/core/agent/services/identifierService.ts
Owners: @jimcase, @iFergal

fix: update unittest
  src/ui/components/Scanner/Scanner.test.tsx
  src/ui/pages/Scan/Scan.test.tsx
Owners: none

update syncKeriaIdentifiers
  src/core/agent/services/identifierService.test.ts
  src/core/agent/services/identifierService.ts
Owners: @jimcase, @iFergal

feat: syncing of credentials with complete status (#848)
  src/core/agent/services/credentialService.ts
Owners: @jimcase, @iFergal

feat(ui): remove unused attribute
  src/locales/en/en.json
  src/ui/components/CardDetails/CardDetailsAttributes/CardDetailsAttributes.utils.ts
  src/ui/components/CardDetails/CardDetailsExpandAttributes/CardDetailsExpandAttributes.utils.ts
Owners: @jimcase, @iFergal

fix(core): ensure identifier service initialised for core event handler
  src/core/agent/agent.ts
Owners: @jimcase, @iFergal

feat: delete identifier idempotency (#844)
  src/core/agent/agent.test.ts
  src/core/agent/agent.ts
  src/core/agent/event.types.ts
  src/core/agent/records/identifierMetadataRecord.ts
  src/core/agent/records/identifierStorage.ts
  src/core/agent/services/connectionService.test.ts
  src/core/agent/services/identifierService.test.ts
  src/core/agent/services/identifierService.ts
  src/ui/components/CreateGroupIdentifier/components/SetupConnections.test.tsx
  src/ui/components/CreateGroupIdentifier/components/SetupConnections.tsx
  src/ui/components/IdentifierDetailModule/IdentifierDetailModule.test.tsx
  src/ui/components/IdentifierDetailModule/IdentifierDetailModule.tsx
  src/ui/pages/Identifiers/Identifiers.test.tsx
  src/ui/pages/Identifiers/Identifiers.tsx
Owners: @jimcase, @iFergal

fix: resolve comment
  src/core/agent/services/identifierService.ts
Owners: @jimcase, @iFergal

update: remove validation in the UI and update unittest
  src/core/agent/services/connectionService.test.ts
  src/ui/components/InputRequest/InputRequest.tsx
Owners: @jimcase, @iFergal

update logic check pending
  src/core/agent/services/identifierService.test.ts
  src/core/agent/services/identifierService.ts
Owners: @jimcase, @iFergal

fix: change position of action update name of identifier when deleting
  src/core/agent/services/identifierService.ts
Owners: @jimcase, @iFergal
